Repository vacanza/holidays, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, doc, l10n, script, snapshot, test

Update working day-related calculations: - Update `HolidayBase::get_workdays_number()` logic - Update documentation
  docs/source/examples.rst
  holidays/holiday_base.py
  tests/test_holiday_base.py
Labels: doc, test

Update Nicaragua holidays
  README.rst
  holidays/countries/nicaragua.py
  holidays/locale/en_US/LC_MESSAGES/NI.po
  holidays/locale/es/LC_MESSAGES/NI.po
  holidays/locale/uk/LC_MESSAGES/NI.po
  snapshots/countries/NI_AN.json
  snapshots/countries/NI_AS.json
  snapshots/countries/NI_BO.json
  snapshots/countries/NI_CA.json
  snapshots/countries/NI_CI.json
  snapshots/countries/NI_CO.json
  snapshots/countries/NI_COMMON.json
  snapshots/countries/NI_ES.json
  snapshots/countries/NI_GR.json
  snapshots/countries/NI_JI.json
  snapshots/countries/NI_LE.json
  snapshots/countries/NI_MD.json
  snapshots/countries/NI_MN.json
  snapshots/countries/NI_MS.json
  snapshots/countries/NI_MT.json
  snapshots/countries/NI_NS.json
  snapshots/countries/NI_RI.json
  snapshots/countries/NI_SJ.json
  tests/countries/test_nicaragua.py
Labels: l10n, snapshot, test

chore: Update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Fix test
  tests/countries/test_nicaragua.py
Labels: test

Update Japan holidays
  holidays/countries/japan.py
  snapshots/countries/JP_COMMON.json
  tests/countries/test_japan.py
Labels: snapshot, test

Update code
  holidays/countries/saint_kitts_and_nevis.py
  snapshots/countries/KN_COMMON.json
Labels: snapshot

Fix order
  holidays/countries/nicaragua.py
Labels: none

PR suggestion
  holidays/holiday_base.py
Labels: none

Add Saint Kitts & Nevis holidays (#2005)
  README.rst
  holidays/countries/__init__.py
  holidays/countries/saint_kitts_and_nevis.py
  holidays/registry.py
  snapshots/countries/KN_COMMON.json
  tests/countries/test_saint_kitts_and_nevis.py
Labels: snapshot, test

Update Nicaragua holidays (#2011)
  README.rst
  holidays/countries/nicaragua.py
  holidays/locale/en_US/LC_MESSAGES/NI.po
  holidays/locale/es/LC_MESSAGES/NI.po
  holidays/locale/uk/LC_MESSAGES/NI.po
  snapshots/countries/NI_AN.json
  snapshots/countries/NI_AS.json
  snapshots/countries/NI_BO.json
  snapshots/countries/NI_CA.json
  snapshots/countries/NI_CI.json
  snapshots/countries/NI_CO.json
  snapshots/countries/NI_COMMON.json
  snapshots/countries/NI_ES.json
  snapshots/countries/NI_GR.json
  snapshots/countries/NI_JI.json
  snapshots/countries/NI_LE.json
  snapshots/countries/NI_MD.json
  snapshots/countries/NI_MN.json
  snapshots/countries/NI_MS.json
  snapshots/countries/NI_MT.json
  snapshots/countries/NI_NS.json
  snapshots/countries/NI_RI.json
  snapshots/countries/NI_SJ.json
  tests/countries/test_nicaragua.py
Labels: l10n, snapshot, test

PR suggestion
  holidays/countries/japan.py
Labels: none

Update United States holidays: fix Washington's Birthday in GA
  holidays/countries/united_states.py
  holidays/observed_holiday_base.py
  snapshots/countries/US_GA.json
  tests/countries/test_united_states.py
Labels: snapshot, test

Update Japan holidays (#2013)
  holidays/countries/japan.py
  snapshots/countries/JP_COMMON.json
  tests/countries/test_japan.py
Labels: snapshot, test

Update HolidayBase::get_workdays_number docstring
  holidays/holiday_base.py
Labels: none

Fix docstring
  holidays/countries/united_states.py
Labels: none

chore: Update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

- add Washington's Birthday to IN - move holiday rule to US
  holidays/countries/united_states.py
  holidays/observed_holiday_base.py
  tests/countries/test_united_states.py
Labels: test

Update snapshot
  snapshots/countries/US_IN.json
Labels: snapshot

Update United States holidays: fix Washington's Birthday in GA & IN (#2014)
  holidays/countries/united_states.py
  snapshots/countries/US_GA.json
  snapshots/countries/US_IN.json
  tests/countries/test_united_states.py
Labels: snapshot, test

Rename methods
  docs/source/examples.rst
  holidays/holiday_base.py
  tests/test_holiday_base.py
Labels: doc, test

Update apostrophes: change `’` to `'`
  docs/source/conf.py
  holidays/countries/china.py
  holidays/countries/south_korea.py
  holidays/locale/en_US/LC_MESSAGES/CN.po
  holidays/locale/th/LC_MESSAGES/CN.po
  holidays/locale/zh_CN/LC_MESSAGES/CN.po
  holidays/locale/zh_TW/LC_MESSAGES/CN.po
Labels: doc, l10n

Update docs/source/conf.py
  docs/source/conf.py
Labels: doc

Add another case
  holidays/locale/en_US/LC_MESSAGES/CN.po
  snapshots/countries/CN_COMMON.json
Labels: l10n, snapshot

Update apostrophes: change `’` to `'` (#2016)
  docs/source/conf.py
  holidays/countries/china.py
  holidays/countries/south_korea.py
  holidays/locale/en_US/LC_MESSAGES/CN.po
  holidays/locale/th/LC_MESSAGES/CN.po
  holidays/locale/zh_CN/LC_MESSAGES/CN.po
  holidays/locale/zh_TW/LC_MESSAGES/CN.po
  snapshots/countries/CN_COMMON.json
Labels: doc, l10n, snapshot

Update US holidays: American Samoa holidays
  holidays/countries/united_states.py
  snapshots/countries/AS_COMMON.json
  snapshots/countries/US_AS.json
  tests/countries/test_american_samoa.py
  tests/countries/test_united_states.py
Labels: snapshot, test

Update Azerbaijan holidays in 2024
  holidays/countries/azerbaijan.py
  snapshots/countries/AZ_COMMON.json
  tests/countries/test_azerbaijan.py
Labels: snapshot, test

Update working day related calculations (#2010)
  docs/source/examples.rst
  holidays/holiday_base.py
  tests/test_holiday_base.py
Labels: doc, test

Update US holidays: American Samoa holidays (#2017)
  holidays/countries/united_states.py
  snapshots/countries/AS_COMMON.json
  snapshots/countries/US_AS.json
  tests/countries/test_american_samoa.py
  tests/countries/test_united_states.py
Labels: snapshot, test

Update Kazakhstan holidays: add substituted holidays, localization
  README.rst
  holidays/countries/kazakhstan.py
  holidays/locale/en_US/LC_MESSAGES/KZ.po
  holidays/locale/kk/LC_MESSAGES/KZ.po
  holidays/locale/uk/LC_MESSAGES/KZ.po
  snapshots/countries/KZ_COMMON.json
  tests/countries/test_kazakhstan.py
Labels: l10n, snapshot, test

Update Azerbaijan holidays in 2024 (#2018)
  holidays/countries/azerbaijan.py
  snapshots/countries/AZ_COMMON.json
  tests/countries/test_azerbaijan.py
Labels: snapshot, test

Update Kazakhstan holidays: add substituted holidays, localization (#2023)
  README.rst
  holidays/countries/kazakhstan.py
  holidays/locale/en_US/LC_MESSAGES/KZ.po
  holidays/locale/kk/LC_MESSAGES/KZ.po
  holidays/locale/uk/LC_MESSAGES/KZ.po
  snapshots/countries/KZ_COMMON.json
  tests/countries/test_kazakhstan.py
Labels: l10n, snapshot, test

chore: Update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Add Vietnames translation of Viet Holidays
  AUTHORS
  README.rst
  holidays/countries/vietnam.py
  holidays/locale/en_US/LC_MESSAGES/VN.po
  holidays/locale/vi/LC_MESSAGES/VN.po
  tests/countries/test_vietnam.py
Labels: l10n, test

Update Taiwan holidays
  holidays/countries/taiwan.py
  snapshots/countries/TW_COMMON.json
  tests/countries/test_taiwan.py
Labels: snapshot, test

Fix issues raised by code review
  AUTHORS
  holidays/countries/vietnam.py
  holidays/locale/en_US/LC_MESSAGES/VN.po
  holidays/locale/vi/LC_MESSAGES/VN.po
  tests/countries/test_vietnam.py
Labels: l10n, test

Update code
  holidays/countries/taiwan.py
Labels: none

Update Taiwan holidays (#2026)
  holidays/countries/taiwan.py
  snapshots/countries/TW_COMMON.json
  tests/countries/test_taiwan.py
Labels: snapshot, test

Update CI/CD triggers
  .github/workflows/ci-cd.yml
Labels: ci

Update Sweden holidays: add `th` localization
  README.rst
  holidays/countries/sweden.py
  holidays/locale/th/LC_MESSAGES/SE.po
  tests/countries/test_sweden.py
Labels: l10n, test

[SE] typo fixed
  holidays/locale/th/LC_MESSAGES/SE.po
Labels: l10n

.github/labeler.yml:

ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/**

doc:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**

l10n:
  - changed-files:
      - any-glob-to-any-file:
          - holidays/locale/**

script:
  - changed-files:
      - any-glob-to-any-file:
          - scripts/**

snapshot:
  - changed-files:
      - any-glob-to-any-file:
          - snapshots/**

test:
  - changed-files:
      - any-glob-to-any-file:
          - tests/**

v1:
  - head-branch:
      - v1
