Repository vacanza/holidays, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, doc, l10n, script, snapshot, test

Update Sweden holidays: add `th` localization (#2029)
  README.rst
  holidays/countries/sweden.py
  holidays/locale/th/LC_MESSAGES/SE.po
  tests/countries/test_sweden.py
Labels: l10n, test

Update Malaysia holidays: add `th` localization
  README.rst
  holidays/countries/malaysia.py
  holidays/locale/th/LC_MESSAGES/MY.po
  tests/countries/test_malaysia.py
Labels: l10n, test

Change holiday names and localization to match State source
  holidays/countries/vietnam.py
  holidays/locale/en_US/LC_MESSAGES/VN.po
  holidays/locale/vi/LC_MESSAGES/VN.po
  tests/countries/test_vietnam.py
Labels: l10n, test

Update Singapore holidays: add localization
  README.rst
  holidays/countries/singapore.py
  holidays/locale/en_SG/LC_MESSAGES/SG.po
  holidays/locale/en_US/LC_MESSAGES/SG.po
  holidays/locale/th/LC_MESSAGES/SG.po
  snapshots/countries/SG_COMMON.json
  tests/countries/test_singapore.py
Labels: l10n, snapshot, test

Update Malaysia holidays: add `th` localization (#2030)
  README.rst
  holidays/countries/malaysia.py
  holidays/locale/th/LC_MESSAGES/MY.po
  tests/countries/test_malaysia.py
Labels: l10n, test

[SG] Implement 2024Oct03 Suggestions
  holidays/countries/singapore.py
  holidays/locale/en_SG/LC_MESSAGES/SG.po
  holidays/locale/en_US/LC_MESSAGES/SG.po
  holidays/locale/th/LC_MESSAGES/SG.po
Labels: l10n

Update VN.po file headers
  holidays/locale/en_US/LC_MESSAGES/VN.po
  holidays/locale/vi/LC_MESSAGES/VN.po
Labels: l10n

Update Singapore holidays: add `en_SG`, `en_US`, `th` localization (#2031)
  README.rst
  holidays/countries/singapore.py
  holidays/locale/en_SG/LC_MESSAGES/SG.po
  holidays/locale/en_US/LC_MESSAGES/SG.po
  holidays/locale/th/LC_MESSAGES/SG.po
  snapshots/countries/SG_COMMON.json
  tests/countries/test_singapore.py
Labels: l10n, snapshot, test

Add Vietnamese translation of VietNam holidays (#2025)
  AUTHORS
  README.rst
  holidays/countries/vietnam.py
  holidays/locale/en_US/LC_MESSAGES/VN.po
  holidays/locale/vi/LC_MESSAGES/VN.po
  tests/countries/test_vietnam.py
Labels: l10n, test

Add Congo holidays
  README.rst
  holidays/countries/__init__.py
  holidays/countries/congo.py
  holidays/locale/en_US/LC_MESSAGES/CG.po
  holidays/locale/fr/LC_MESSAGES/CG.po
  holidays/registry.py
  snapshots/countries/CG_COMMON.json
  tests/countries/test_congo.py
Labels: l10n, snapshot, test

Add Congo holidays (#2037)
  README.rst
  holidays/countries/__init__.py
  holidays/countries/congo.py
  holidays/locale/en_US/LC_MESSAGES/CG.po
  holidays/locale/fr/LC_MESSAGES/CG.po
  holidays/registry.py
  snapshots/countries/CG_COMMON.json
  tests/countries/test_congo.py
Labels: l10n, snapshot, test

chore: Update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Update Curaçao holidays: add HALF_DAY holidays
  README.rst
  holidays/countries/curacao.py
  holidays/locale/en_US/LC_MESSAGES/CW.po
  holidays/locale/nl/LC_MESSAGES/CW.po
  holidays/locale/pap_CW/LC_MESSAGES/CW.po
  holidays/locale/uk/LC_MESSAGES/CW.po
  snapshots/countries/CW_COMMON.json
  tests/countries/test_curacao.py
Labels: l10n, snapshot, test

chore: Update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Update Curaçao holidays: add HALF_DAY holidays (#2039)
  README.rst
  holidays/countries/curacao.py
  holidays/locale/en_US/LC_MESSAGES/CW.po
  holidays/locale/nl/LC_MESSAGES/CW.po
  holidays/locale/pap_CW/LC_MESSAGES/CW.po
  holidays/locale/uk/LC_MESSAGES/CW.po
  snapshots/countries/CW_COMMON.json
  tests/countries/test_curacao.py
Labels: l10n, snapshot, test

Update Congo headers
  holidays/countries/congo.py
Labels: none

.github/labeler.yml:

ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/**

doc:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**

l10n:
  - changed-files:
      - any-glob-to-any-file:
          - holidays/locale/**

script:
  - changed-files:
      - any-glob-to-any-file:
          - scripts/**

snapshot:
  - changed-files:
      - any-glob-to-any-file:
          - snapshots/**

test:
  - changed-files:
      - any-glob-to-any-file:
          - tests/**

v1:
  - head-branch:
      - v1
