Repository vacanza/holidays, pull requests merged in 2023-03, with the labels that each got.

#988 Improve Argentina holidays
  holidays/countries/argentina.py
  holidays/locale/en_US/LC_MESSAGES/AR.po
  holidays/locale/es/LC_MESSAGES/AR.po
  holidays/locale/uk/LC_MESSAGES/AR.po
  tests/countries/test_argentina.py
Labels: ready for beta, localization

#989 Add functions for relative weekdays calculation
  holidays/calendars.py
  holidays/countries/canada.py
  holidays/countries/united_states.py
  tests/test_calendars.py
Labels: ready for beta

#990 Update Chile holidays. Add localization: en_US, es, uk
  README.rst
  holidays/countries/chile.py
  holidays/locale/en_US/LC_MESSAGES/CL.po
  holidays/locale/es/LC_MESSAGES/CL.po
  holidays/locale/uk/LC_MESSAGES/CL.po
  tests/countries/test_chile.py
Labels: ready for beta, localization

#992 Clean up tests module loading
  tests/countries/__init__.py
Labels: ready for beta

#991 Refactor `HolidayBase::get_named`
  holidays/holiday_base.py
  tests/common.py
  tests/test_holiday_base.py
Labels: ready for beta

#993 Use the built-in library for time zone functions
  holidays/countries/chile.py
  holidays/countries/japan.py
  setup.cfg
Labels: ready for beta, performance

#994 Fixed tox.ini typo
  tox.ini
Labels: ready for beta

#995 Clean up Thailand localization and in-line code comments
  holidays/countries/thailand.py
  holidays/locale/en_US/LC_MESSAGES/TH.po
  holidays/locale/th/LC_MESSAGES/TH.po
Labels: localization

#996 Clean up Malaysia tests
  tests/countries/test_malaysia.py
Labels: ready for beta

#1002 Refactor relative weekdays calculation: replace relativedelta
  holidays/countries/argentina.py
  holidays/countries/australia.py
  holidays/countries/botswana.py
  holidays/countries/brazil.py
  holidays/countries/chile.py
  holidays/countries/colombia.py
  holidays/countries/dominican_republic.py
  holidays/countries/finland.py
  holidays/countries/germany.py
  holidays/countries/greece.py
  holidays/countries/honduras.py
  holidays/countries/hongkong.py
  holidays/countries/iceland.py
  holidays/countries/ireland.py
  holidays/countries/isle_of_man.py
  holidays/countries/italy.py
  holidays/countries/jamaica.py
  holidays/countries/japan.py
  holidays/countries/lithuania.py
  holidays/countries/madagascar.py
  holidays/countries/malaysia.py
  holidays/countries/marshall_islands.py
  holidays/countries/mexico.py
  holidays/countries/new_zealand.py
  holidays/countries/philippines.py
  holidays/countries/south_africa.py
  holidays/countries/sweden.py
  holidays/countries/switzerland.py
  holidays/countries/united_kingdom.py
  holidays/countries/uruguay.py
  holidays/countries/zambia.py
  holidays/countries/zimbabwe.py
  holidays/financial/ny_stock_exchange.py
  tests/countries/test_greece.py
Labels: ready for beta

#1001 Optimize TestAllInSameYear::test_all_countries test
  tests/test_utils.py
Labels: ready for beta

#1003 Unify country imports order
  holidays/countries/__init__.py
  holidays/financial/__init__.py
  holidays/financial/european_central_bank.py
  tests/countries/test_albania.py
  tests/countries/test_andorra.py
  tests/countries/test_angola.py
  tests/countries/test_azerbaijan.py
  tests/countries/test_bahrain.py
  tests/countries/test_belarus.py
  tests/countries/test_dominican_republic.py
  tests/countries/test_georgia.py
  tests/countries/test_honduras.py
  tests/countries/test_india.py
  tests/countries/test_indonesia.py
  tests/countries/test_kyrgyzstan.py
  tests/countries/test_montenegro.py
  tests/countries/test_norway.py
  tests/countries/test_philippines.py
  tests/countries/test_san_marino.py
  tests/countries/test_sweden.py
  tests/countries/test_vatican_city.py
Labels: ready for beta

#1004 Use native apostrophe for uk locale holiday names
  holidays/countries/ukraine.py
  holidays/locale/uk/LC_MESSAGES/AR.po
  holidays/locale/uk/LC_MESSAGES/CO.po
  holidays/locale/uk/LC_MESSAGES/PE.po
  holidays/locale/uk/LC_MESSAGES/UA.po
Labels: ready for beta

#1013 Update Denmark holidays: remove "Store bededag" starting 2024
  holidays/countries/denmark.py
  tests/countries/test_denmark.py
Labels: ready for beta

#1014 Update Ukraine holidays
  holidays/countries/ukraine.py
  holidays/locale/en_US/LC_MESSAGES/UA.po
  holidays/locale/uk/LC_MESSAGES/UA.po
  tests/countries/test_ukraine.py
Labels: ready for beta

#1015 Update Canada localization: fr
  holidays/locale/fr/LC_MESSAGES/CA.po
Labels: ready for beta

#1018 Refactor NYSE holidays
  holidays/financial/ny_stock_exchange.py
  tests/financial/test_ny_stock_exchange.py
Labels: ready for beta

#1019 Update PR template.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ready for beta

#1020 Update package build process
  .github/workflows/ci-cd.yml
  MANIFEST.in
  Makefile
  requirements/dev.txt
  scripts/l10n/generate_mo_files.py
  setup.py
Labels: ready for beta

#1032 Update README: add missing th localization for Canada
  README.rst
Labels: ready for beta, localization

#1033 Refactor .po and .mo files generation
  scripts/l10n/generate_mo_files.py
  scripts/l10n/generate_po_files.py
  scripts/l10n/msgfmt.py
Labels: ready for beta

#1035 Update Uruguay localization: fix uk translation
  holidays/locale/uk/LC_MESSAGES/UY.po
Labels: ready for beta, localization

#1036 Update Andorra parish holidays
  README.rst
  holidays/countries/andorra.py
  tests/countries/test_andorra.py
Labels: ready for beta

#1039 Unify file headers
  holidays/countries/albania.py
  holidays/countries/american_samoa.py
  holidays/countries/andorra.py
  holidays/countries/guam.py
  holidays/countries/montenegro.py
  holidays/countries/northern_mariana_islands.py
  holidays/countries/panama.py
  holidays/countries/puerto_rico.py
  holidays/countries/san_marino.py
  holidays/countries/united_states_minor_outlying_islands.py
  holidays/countries/united_states_virgin_islands.py
  holidays/countries/vatican_city.py
  tests/countries/test_albania.py
  tests/countries/test_andorra.py
  tests/countries/test_montenegro.py
  tests/countries/test_san_marino.py
  tests/countries/test_vatican_city.py
  tests/test_calendars.py
  tests/test_utils.py
Labels: ready for beta

#1041 Update PR template: add documentation mentioning
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ready for beta

#1042 Memoize list supported entities methods results
  holidays/utils.py
Labels: ready for beta

#865 Introduce holiday groups
  holidays/calendars.py
  holidays/countries/argentina.py
  holidays/countries/armenia.py
  holidays/countries/belarus.py
  holidays/countries/bulgaria.py
  holidays/countries/canada.py
  holidays/countries/chile.py
  holidays/countries/colombia.py
  holidays/countries/cuba.py
  holidays/countries/cyprus.py
  holidays/countries/denmark.py
  holidays/countries/djibouti.py
  holidays/countries/dominican_republic.py
  holidays/countries/egypt.py
  holidays/countries/ethiopia.py
  holidays/countries/georgia.py
  holidays/countries/greece.py
  holidays/countries/honduras.py
  holidays/countries/hungary.py
  holidays/countries/japan.py
  holidays/countries/lithuania.py
  holidays/countries/mexico.py
  holidays/countries/monaco.py
  holidays/countries/nicaragua.py
  holidays/countries/paraguay.py
  holidays/countries/peru.py
  holidays/countries/poland.py
  holidays/countries/portugal.py
  holidays/countries/russia.py
  holidays/countries/serbia.py
  holidays/countries/south_korea.py
  holidays/countries/taiwan.py
  holidays/countries/thailand.py
  holidays/countries/turkey.py
  holidays/countries/ukraine.py
  holidays/countries/uruguay.py
  holidays/countries/venezuela.py
  holidays/holiday_base.py
  holidays/holiday_groups.py
  holidays/locale/en_US/LC_MESSAGES/TH.po
  setup.cfg
  tests/countries/test_argentina.py
  tests/countries/test_cuba.py
  tests/countries/test_monaco.py
  tests/countries/test_thailand.py
  tests/test_holiday_base.py
  tests/test_holiday_groups.py
Labels: ready for beta

#1044 Update Romania holidays, localization
  README.rst
  holidays/countries/romania.py
  holidays/locale/en_US/LC_MESSAGES/RO.po
  holidays/locale/ro/LC_MESSAGES/RO.po
  holidays/locale/uk/LC_MESSAGES/RO.po
  tests/countries/test_romania.py
Labels: ready for beta

#1046 Refactor Dominican Republic movable holidays
  holidays/countries/dominican_republic.py
  tests/countries/test_dominican_republic.py
Labels: ready for beta

#1048 Add Costa Rica holidays
  README.rst
  holidays/countries/__init__.py
  holidays/countries/costa_rica.py
  holidays/locale/en_US/LC_MESSAGES/CR.po
  holidays/locale/es/LC_MESSAGES/CR.po
  holidays/locale/uk/LC_MESSAGES/CR.po
  tests/countries/test_costa_rica.py
Labels: ready for beta

#1050 Migrate Portugal holidays to holiday groups
  holidays/countries/portugal.py
  holidays/locale/en_US/LC_MESSAGES/PT.po
  holidays/locale/pt_PT/LC_MESSAGES/PT.po
Labels: ready for beta

#1051 Migrate Argentina holidays to holiday groups
  holidays/countries/argentina.py
  holidays/locale/en_US/LC_MESSAGES/AR.po
  holidays/locale/es/LC_MESSAGES/AR.po
  holidays/locale/uk/LC_MESSAGES/AR.po
Labels: ready for beta

#1052 Migrate Venezuela holidays to holiday groups
  holidays/countries/venezuela.py
  holidays/locale/en_US/LC_MESSAGES/VE.po
  holidays/locale/es/LC_MESSAGES/VE.po
  holidays/locale/uk/LC_MESSAGES/VE.po
Labels: ready for beta

#1053 Migrate Uruguay holidays to holiday groups
  holidays/countries/uruguay.py
  holidays/locale/en_US/LC_MESSAGES/UY.po
  holidays/locale/es/LC_MESSAGES/UY.po
  holidays/locale/uk/LC_MESSAGES/UY.po
Labels: ready for beta

#1054 Refactor South Korea holidays: optimize alternative holidays
  holidays/countries/south_korea.py
  tests/countries/test_south_korea.py
Labels: ready for beta

#1055 Update France holidays, localization
  README.rst
  holidays/countries/france.py
  holidays/locale/en_US/LC_MESSAGES/FR.po
  holidays/locale/fr/LC_MESSAGES/FR.po
  holidays/locale/uk/LC_MESSAGES/FR.po
  tests/countries/test_france.py
Labels: ready for beta

#1056 Migrate Ukraine holidays to holiday groups
  holidays/countries/ukraine.py
Labels: ready for beta

#1061 Update country/financial years tests
  tests/test_utils.py
Labels: ready for beta

#1057 Introduce subdivision holidays methods
  holidays/countries/portugal.py
  holidays/holiday_base.py
Labels: ready for beta

#1060 Refactor common.TestCase: speed up tests
  Makefile
  tests/common.py
  tests/countries/test_chile.py
  tests/countries/test_japan.py
  tests/countries/test_poland.py
  tests/countries/test_south_korea.py
  tests/countries/test_vietnam.py
Labels: ready for beta
