Repository vacanza/holidays, pull requests merged in 2023-02, with the labels that each got.

#911 Add GitHub pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ready for beta

#901 Refactor days offset calculation: replace `relativedelta` with `timedelta` (tests)
  test/countries/test_argentina.py
  test/countries/test_australia.py
  test/countries/test_austria.py
  test/countries/test_bulgaria.py
  test/countries/test_canada.py
  test/countries/test_colombia.py
  test/countries/test_cuba.py
  test/countries/test_ireland.py
  test/countries/test_israel.py
  test/countries/test_mexico.py
  test/countries/test_new_zealand.py
  test/countries/test_pakistan.py
  test/countries/test_paraguay.py
  test/countries/test_united_kingdom.py
  test/countries/test_united_states.py
  test/countries/test_uruguay.py
  test/countries/test_venezuela.py
  test/countries/test_vietnam.py
  test/financial/test_european_central_bank.py
  test/financial/test_ny_stock_exchange.py
  test/test_holiday_base.py
Labels: ready for beta, performance

#902 Update Spain holidays: 2023 changes
  holidays/countries/spain.py
  test/countries/test_spain.py
Labels: ready for beta

#908 Optimize Montenegro: observed holidays
  holidays/countries/montenegro.py
Labels: ready for beta

#909 Bosnia and Herzegovina holidays update
  holidays/countries/bosnia_and_herzegovina.py
  test/countries/test_bosnia_and_herzegovina.py
Labels: ready for beta

#910 Bolivia holidays update
  holidays/countries/bolivia.py
  test/countries/test_bolivia.py
Labels: ready for beta

#913 Update Jamaica holidays
  holidays/countries/jamaica.py
  test/countries/test_jamaica.py
Labels: ready for beta

#916 Add Panama holidays
  README.rst
  holidays/countries/__init__.py
  holidays/countries/panama.py
  test/countries/test_panama.py
Labels: ready for beta

#924 Refactor days offset calculation for recently added countries
  holidays/countries/albania.py
  holidays/countries/andorra.py
  holidays/countries/dominican_republic.py
  holidays/countries/montenegro.py
  holidays/countries/san_marino.py
  holidays/countries/vatican_city.py
Labels: ready for beta

#928 Fix Hong Kong
  holidays/countries/hongkong.py
Labels: ready for beta

#927 Refactor Cuba holidays
  holidays/countries/cuba.py
  test/countries/test_cuba.py
Labels: ready for beta

#925 Refactor Burundi holidays
  holidays/countries/burundi.py
  test/countries/test_burundi.py
Labels: ready for beta

#914 Fix Islamic holidays calculation
  holidays/utils.py
  test/countries/test_bahrain.py
  test/countries/test_djibouti.py
  test/countries/test_egypt.py
  test/countries/test_morocco.py
  test/countries/test_tunisia.py
  test/countries/test_united_arab_emirates.py
Labels: ready for beta

#933 Optimize Burundi observed holidays
  holidays/countries/burundi.py
Labels: ready for beta, performance

#934 Optimize Ukraine observed holidays
  holidays/countries/ukraine.py
  test/countries/test_ukraine.py
Labels: ready for beta, performance

#929 Improve Thailand holidays
  holidays/countries/thailand.py
  holidays/utils.py
  test/countries/test_thailand.py
Labels: ready for beta

#950 Update Albania observed holidays
  holidays/countries/albania.py
  tests/countries/test_albania.py
Labels: ready for beta

#951 National Day for Truth and Reconciliation in British Columbia (Canada) since 2023
  holidays/countries/canada.py
  tests/countries/test_canada.py
Labels: ready for beta

#952 Optimize observed holidays, part 2
  holidays/countries/angola.py
  holidays/countries/eswatini.py
  holidays/countries/kazakhstan.py
  holidays/countries/kenya.py
  holidays/countries/malawi.py
  holidays/countries/singapore.py
  holidays/countries/south_africa.py
  tests/countries/test_angola.py
  tests/countries/test_eswatini.py
  tests/countries/test_kazakhstan.py
  tests/countries/test_kenya.py
  tests/countries/test_malawi.py
Labels: ready for beta

#946 Add Thailand holidays localization: en_US, th
  README.rst
  holidays/countries/thailand.py
  holidays/locale/en_US/LC_MESSAGES/TH.po
  holidays/locale/th/LC_MESSAGES/TH.po
  tests/countries/test_thailand.py
Labels: ready for beta, localization

#953 Update Ireland holidays: St. Bridget's Day
  holidays/countries/ireland.py
  tests/countries/test_ireland.py
Labels: ready for beta

#961 Optimize Azerbaijan observed holidays
  holidays/countries/azerbaijan.py
  tests/countries/test_azerbaijan.py
Labels: ready for beta, performance

#963 Optimize Malaysia observed holidays
  holidays/countries/malaysia.py
  tests/countries/test_malaysia.py
Labels: ready for beta, performance

#964 Update Japan holidays localization: en_US
  holidays/locale/en_US/LC_MESSAGES/JP.po
Labels: ready for beta, localization

#965 Add Colombia holidays localization: en_US, es, uk
  README.rst
  holidays/countries/colombia.py
  holidays/locale/en_US/LC_MESSAGES/CO.po
  holidays/locale/es/LC_MESSAGES/CO.po
  holidays/locale/uk/LC_MESSAGES/CO.po
  tests/countries/test_colombia.py
Labels: ready for beta, localization

#966 Add Monaco holidays localization: en_US, fr, uk
  README.rst
  holidays/countries/monaco.py
  holidays/locale/en_US/LC_MESSAGES/MC.po
  holidays/locale/fr/LC_MESSAGES/MC.po
  holidays/locale/uk/LC_MESSAGES/MC.po
  tests/countries/test_monaco.py
Labels: ready for beta, localization

#971 Add Peru holidays localization: en_US, es, uk
  README.rst
  holidays/countries/peru.py
  holidays/locale/en_US/LC_MESSAGES/PE.po
  holidays/locale/es/LC_MESSAGES/PE.po
  holidays/locale/uk/LC_MESSAGES/PE.po
  tests/countries/test_peru.py
Labels: ready for beta, localization

#969 Refactor calendars: extract to a separate module
  holidays/calendars.py
  holidays/countries/albania.py
  holidays/countries/azerbaijan.py
  holidays/countries/bahrain.py
  holidays/countries/bosnia_and_herzegovina.py
  holidays/countries/burundi.py
  holidays/countries/china.py
  holidays/countries/djibouti.py
  holidays/countries/egypt.py
  holidays/countries/ethiopia.py
  holidays/countries/hongkong.py
  holidays/countries/india.py
  holidays/countries/indonesia.py
  holidays/countries/kazakhstan.py
  holidays/countries/kyrgyzstan.py
  holidays/countries/malaysia.py
  holidays/countries/morocco.py
  holidays/countries/nigeria.py
  holidays/countries/north_macedonia.py
  holidays/countries/pakistan.py
  holidays/countries/philippines.py
  holidays/countries/saudi_arabia.py
  holidays/countries/singapore.py
  holidays/countries/spain.py
  holidays/countries/taiwan.py
  holidays/countries/thailand.py
  holidays/countries/tunisia.py
  holidays/countries/turkey.py
  holidays/countries/united_arab_emirates.py
  holidays/countries/uzbekistan.py
  holidays/utils.py
  tests/test_calendars.py
  tests/test_utils.py
Labels: ready for beta

#980 Update Mexico holidays
  holidays/countries/mexico.py
  tests/countries/test_mexico.py
  tests/test_holiday_base.py
Labels: ready for beta
