Repository vacanza/holidays, pull requests merged in 2024-11, with the labels that each got.

#2093 Update the Philippines holidays: add `en_PH`, `en_US`, `fil`, `th` localization
  README.rst
  holidays/countries/philippines.py
  holidays/locale/en_PH/LC_MESSAGES/PH.po
  holidays/locale/en_US/LC_MESSAGES/PH.po
  holidays/locale/fil/LC_MESSAGES/PH.po
  holidays/locale/th/LC_MESSAGES/PH.po
  snapshots/countries/PH_COMMON.json
  tests/countries/test_philippines.py
Labels: l10n, snapshot, test

#2104 Update Albania holidays, add l10n support
  README.rst
  holidays/countries/albania.py
  holidays/locale/en_US/LC_MESSAGES/AL.po
  holidays/locale/sq/LC_MESSAGES/AL.po
  holidays/locale/uk/LC_MESSAGES/AL.po
  snapshots/countries/AL_COMMON.json
  tests/countries/test_albania.py
Labels: l10n, snapshot, test

#2106 Update Unites States holidays: remove Columbus Day from countrywide holidays
  holidays/countries/united_states.py
  snapshots/countries/US_COMMON.json
  tests/countries/test_united_states.py
Labels: snapshot, test

#2107 Update Brunei holidays: 1998-2003, 2006-2025 exact dates
  holidays/countries/brunei.py
  holidays/locale/en_US/LC_MESSAGES/BN.po
  holidays/locale/ms/LC_MESSAGES/BN.po
  holidays/locale/th/LC_MESSAGES/BN.po
  snapshots/countries/BN_COMMON.json
  tests/countries/test_brunei.py
Labels: l10n, snapshot, test

#2108 Update Cambodia holidays: add Peace Day in Cambodia
  holidays/countries/cambodia.py
  holidays/locale/en_US/LC_MESSAGES/KH.po
  holidays/locale/km/LC_MESSAGES/KH.po
  holidays/locale/th/LC_MESSAGES/KH.po
  snapshots/countries/KH_COMMON.json
  tests/countries/test_cambodia.py
Labels: l10n, snapshot, test

#2116 Add financial markets l10n support
  scripts/l10n/generate_po_files.py
Labels: script

#2117 Update `TestCase::assertLocalizedHolidays`: add subdivisions holidays support
  tests/common.py
  tests/countries/test_australia.py
  tests/countries/test_austria.py
  tests/countries/test_bolivia.py
  tests/countries/test_bosnia_and_herzegovina.py
  tests/countries/test_canada.py
  tests/countries/test_chile.py
  tests/countries/test_france.py
  tests/countries/test_germany.py
  tests/countries/test_malaysia.py
  tests/countries/test_nicaragua.py
  tests/countries/test_portugal.py
  tests/countries/test_spain.py
  tests/countries/test_switzerland.py
Labels: test

#2118 Refactor some `if len(container)...` cases to `if container...`
  holidays/holiday_base.py
  holidays/observed_holiday_base.py
  holidays/utils.py
  scripts/generate_snapshots.py
  tests/common.py
  tests/countries/test_canada.py
  tests/countries/test_germany.py
  tests/countries/test_switzerland.py
Labels: script, test

#2122 Update helpers::_normalize_arguments, add helpers tests
  holidays/helpers.py
  tests/common.py
  tests/test_helpers.py
Labels: test

#2121 Update CH holidays: rename Neujahrestag to Neujahrstag
  holidays/countries/switzerland.py
  holidays/locale/de/LC_MESSAGES/CH.po
  holidays/locale/en_US/LC_MESSAGES/CH.po
  holidays/locale/fr/LC_MESSAGES/CH.po
  holidays/locale/it/LC_MESSAGES/CH.po
  holidays/locale/uk/LC_MESSAGES/CH.po
  tests/countries/test_switzerland.py
Labels: l10n, test

#2109 Add "Brasil, Bolsa, Balcão" ([B]³) holidays
  AUTHORS
  README.rst
  holidays/financial/__init__.py
  holidays/financial/brasil_bolsa_balcao.py
  holidays/locale/en_US/LC_MESSAGES/BVMF.po
  holidays/locale/pt_BR/LC_MESSAGES/BVMF.po
  holidays/locale/uk/LC_MESSAGES/BVMF.po
  holidays/registry.py
  scripts/generate_snapshots.py
  snapshots/countries/DE_BYP.json
  snapshots/countries/UK_COMMON.json
  snapshots/countries/UK_ENG.json
  snapshots/countries/UK_NIR.json
  snapshots/countries/UK_SCT.json
  snapshots/countries/UK_WLS.json
  snapshots/financial/BVMF.json
  snapshots/financial/TAR.json
  snapshots/financial/XNYS.json
  tests/financial/test_brasil_bolsa_balcao.py
  tests/test_utils.py
Labels: l10n, snapshot, script, test

#2123 Update Thailand holidays: 2025-2026 Bridge Public Holidays
  holidays/countries/thailand.py
  snapshots/countries/TH_COMMON.json
  tests/countries/test_thailand.py
Labels: snapshot, test

#2124 Update China holidays in 2025
  holidays/countries/china.py
  snapshots/countries/CN_COMMON.json
  tests/countries/test_china.py
Labels: snapshot, test

#2136 Bump codecov/codecov-action to v5
  .github/workflows/ci-cd.yml
Labels: ci

#2139 Update pyproject.toml: clarify project summary
  pyproject.toml
  tests/test_package.py
Labels: test

#2146 Update Argentina holidays: Add 2025 Bridge Public Holidays
  holidays/countries/argentina.py
  snapshots/countries/AR_COMMON.json
  tests/countries/test_argentina.py
Labels: snapshot, test

#2143 Update CA holidays: Nunavut Day is NU public holiday since 2020
  holidays/countries/canada.py
  tests/countries/test_canada.py
Labels: test

#2150 Update Timor Leste holidays: Add 2024 Nov 29 Special Holiday
  holidays/countries/timor_leste.py
  snapshots/countries/TL_COMMON.json
  tests/countries/test_timor_leste.py
Labels: snapshot, test

#2145 Update Finland holidays: fix Independence Day appearing pre-1917
  holidays/countries/finland.py
  tests/countries/test_finland.py
Labels: test

#2151 Update Paraguay holidays
  holidays/countries/paraguay.py
  holidays/locale/en_US/LC_MESSAGES/PY.po
  holidays/locale/es/LC_MESSAGES/PY.po
  holidays/locale/uk/LC_MESSAGES/PY.po
  snapshots/countries/PY_COMMON.json
  tests/countries/test_paraguay.py
Labels: l10n, snapshot, test
