Repository vacanza/holidays, pull requests merged in 2024-10, with the labels that each got.

#2026 Update Taiwan holidays
  holidays/countries/taiwan.py
  snapshots/countries/TW_COMMON.json
  tests/countries/test_taiwan.py
Labels: snapshot, test

#2029 Update Sweden holidays: add `th` localization
  README.rst
  holidays/countries/sweden.py
  holidays/locale/th/LC_MESSAGES/SE.po
  tests/countries/test_sweden.py
Labels: l10n, test

#2030 Update Malaysia holidays: add `th` localization
  README.rst
  holidays/countries/malaysia.py
  holidays/locale/th/LC_MESSAGES/MY.po
  tests/countries/test_malaysia.py
Labels: l10n, test

#2025 Add Vietnamese translation of VietNam holidays
  AUTHORS
  README.rst
  holidays/countries/vietnam.py
  holidays/locale/en_US/LC_MESSAGES/VN.po
  holidays/locale/vi/LC_MESSAGES/VN.po
  tests/countries/test_vietnam.py
Labels: l10n, test

#2039 Update Curaçao holidays: add HALF_DAY holidays
  README.rst
  holidays/countries/curacao.py
  holidays/locale/en_US/LC_MESSAGES/CW.po
  holidays/locale/nl/LC_MESSAGES/CW.po
  holidays/locale/pap_CW/LC_MESSAGES/CW.po
  holidays/locale/uk/LC_MESSAGES/CW.po
  snapshots/countries/CW_COMMON.json
  tests/countries/test_curacao.py
Labels: l10n, snapshot, test

#2042 Drop Python 3.8 support
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  docs/source/conf.py
  holidays/calendars/buddhist.py
  holidays/calendars/chinese.py
  holidays/calendars/hindu.py
  holidays/calendars/islamic.py
  holidays/countries/angola.py
  holidays/countries/bulgaria.py
  holidays/countries/chile.py
  holidays/countries/hongkong.py
  holidays/countries/japan.py
  holidays/countries/jersey.py
  holidays/countries/saudi_arabia.py
  holidays/countries/south_korea.py
  holidays/countries/taiwan.py
  holidays/countries/united_kingdom.py
  holidays/countries/united_states.py
  holidays/groups/buddhist.py
  holidays/groups/chinese.py
  holidays/groups/hindu.py
  holidays/groups/islamic.py
  holidays/holiday_base.py
  holidays/mixins.py
  holidays/observed_holiday_base.py
  holidays/registry.py
  holidays/utils.py
  pyproject.toml
  requirements/tests.txt
  scripts/generate_release_notes.py
  tests/common.py
  tox.ini
Labels: ci, doc, script, test

#2048 Update Johor (Malaysia) and United Arab Emirates `weekend` observance, cleanup others
  holidays/countries/egypt.py
  holidays/countries/jordan.py
  holidays/countries/kuwait.py
  holidays/countries/malaysia.py
  holidays/countries/mauritania.py
  holidays/countries/united_arab_emirates.py
  snapshots/countries/MY_01.json
Labels: snapshot

#2049 Update Vietnam holidays
  holidays/countries/vietnam.py
  holidays/groups/chinese.py
  holidays/locale/en_US/LC_MESSAGES/VN.po
  holidays/locale/vi/LC_MESSAGES/VN.po
  snapshots/countries/VN_COMMON.json
  tests/countries/test_vietnam.py
Labels: l10n, snapshot, test

#2060 Update Vietnam holidays: add `th` localization
  README.rst
  holidays/countries/vietnam.py
  holidays/locale/th/LC_MESSAGES/VN.po
  tests/countries/test_vietnam.py
Labels: l10n, test

#2052 Update Germany holidays: add Liberation from Nazi Regime Day 2025 in Berlin
  holidays/countries/germany.py
  holidays/locale/de/LC_MESSAGES/DE.po
  holidays/locale/en_US/LC_MESSAGES/DE.po
  holidays/locale/th/LC_MESSAGES/DE.po
  holidays/locale/uk/LC_MESSAGES/DE.po
  snapshots/countries/DE_BE.json
  tests/countries/test_germany.py
Labels: l10n, snapshot, test

#2063 Update `holidays` package metadata
  pyproject.toml
  tests/test_package.py
Labels: test

#2078 Update Timor-Leste holidays
  holidays/countries/timor_leste.py
  holidays/locale/en_US/LC_MESSAGES/TL.po
  holidays/locale/pt_TL/LC_MESSAGES/TL.po
  holidays/locale/tet/LC_MESSAGES/TL.po
  snapshots/countries/TL_COMMON.json
  tests/countries/test_timor_leste.py
Labels: l10n, snapshot, test

#2080 Update Spain holidays in 2025
  holidays/countries/spain.py
  snapshots/countries/ES_AN.json
  snapshots/countries/ES_AR.json
  snapshots/countries/ES_AS.json
  snapshots/countries/ES_CB.json
  snapshots/countries/ES_CE.json
  snapshots/countries/ES_CL.json
  snapshots/countries/ES_CM.json
  snapshots/countries/ES_CN.json
  snapshots/countries/ES_COMMON.json
  snapshots/countries/ES_CT.json
  snapshots/countries/ES_EX.json
  snapshots/countries/ES_GA.json
  snapshots/countries/ES_IB.json
  snapshots/countries/ES_MC.json
  snapshots/countries/ES_MD.json
  snapshots/countries/ES_ML.json
  snapshots/countries/ES_NC.json
  snapshots/countries/ES_PV.json
  snapshots/countries/ES_RI.json
  snapshots/countries/ES_VC.json
  tests/countries/test_spain.py
Labels: snapshot, test

#2084 Refactor Canada tests
  tests/countries/test_canada.py
Labels: test

#2082 Update Australia holidays: remove `Adelaide Cup Day` holiday pre-1973 for South Australia
  holidays/countries/australia.py
  snapshots/countries/AU_SA.json
  tests/countries/test_australia.py
Labels: snapshot, test

#2083 Update United States holidays: Alaska state holidays correction
  holidays/countries/united_states.py
  tests/countries/test_united_states.py
Labels: test

#2081 Update Thailand holidays in 2025
  holidays/countries/thailand.py
  snapshots/countries/TH_COMMON.json
  tests/calendars/test_thai.py
  tests/countries/test_thailand.py
Labels: snapshot, test

#2086 Refactor Cambodia and Laos test cases
  holidays/countries/cambodia.py
  tests/calendars/test_thai.py
  tests/countries/test_cambodia.py
  tests/countries/test_laos.py
Labels: test

#2087 Refactor United States tests
  tests/countries/test_united_states.py
Labels: test

#2092 Update Germany holidays: add East German Uprising Day 2028 in Berlin
  holidays/countries/germany.py
  holidays/locale/de/LC_MESSAGES/DE.po
  holidays/locale/en_US/LC_MESSAGES/DE.po
  holidays/locale/th/LC_MESSAGES/DE.po
  holidays/locale/uk/LC_MESSAGES/DE.po
  snapshots/countries/DE_BE.json
  tests/countries/test_germany.py
Labels: l10n, snapshot, test

#2088 Refactor Australia tests
  tests/countries/test_australia.py
Labels: test
