Repository vacanza/holidays, pull requests merged in 2024-12, with the labels that each got.

#2158 Align financial markets MIC codes with ISO 10383
  README.rst
  holidays/financial/__init__.py
  holidays/financial/european_central_bank.py
  holidays/financial/ny_stock_exchange.py
  holidays/registry.py
  snapshots/financial/XECB.json
  snapshots/financial/XNYS.json
  tests/financial/test_european_central_bank.py
  tests/financial/test_ny_stock_exchange.py
  tests/test_docs.py
  tests/test_utils.py
Labels: snapshot, test

#2161 Inline single-use variables, update .py files formatting
  holidays/countries/angola.py
  holidays/countries/argentina.py
  holidays/countries/bolivia.py
  holidays/countries/bosnia_and_herzegovina.py
  holidays/countries/cambodia.py
  holidays/countries/canada.py
  holidays/countries/chile.py
  holidays/countries/costa_rica.py
  holidays/countries/croatia.py
  holidays/countries/czechia.py
  holidays/countries/dominica.py
  holidays/countries/hungary.py
  holidays/countries/israel.py
  holidays/countries/latvia.py
  holidays/countries/lithuania.py
  holidays/countries/namibia.py
  holidays/countries/new_zealand.py
  holidays/countries/philippines.py
  holidays/countries/south_korea.py
  holidays/countries/thailand.py
  holidays/countries/turkey.py
  holidays/countries/united_states.py
  holidays/countries/uruguay.py
  holidays/holiday_base.py
  holidays/utils.py
  tests/calendars/test_thai.py
  tests/common.py
  tests/countries/test_cambodia.py
  tests/countries/test_germany.py
  tests/countries/test_hongkong.py
  tests/countries/test_indonesia.py
  tests/countries/test_israel.py
  tests/countries/test_kazakhstan.py
  tests/countries/test_laos.py
  tests/countries/test_saint_kitts_and_nevis.py
  tests/countries/test_south_korea.py
  tests/test_docs.py
  tests/test_holiday_base.py
  tests/test_holiday_groups.py
  tests/test_utils.py
Labels: test

#2170 Update CI/CD trigger section
  .github/workflows/ci-cd.yml
Labels: ci

#2167 Update KZ holidays: add 2025 special holidays
  holidays/countries/kazakhstan.py
  snapshots/countries/KZ_COMMON.json
  tests/countries/test_kazakhstan.py
Labels: snapshot, test

#2166 Update Thailand holidays: extend support year down to 1914
  holidays/calendars/thai.py
  holidays/countries/thailand.py
  holidays/locale/en_US/LC_MESSAGES/TH.po
  holidays/locale/th/LC_MESSAGES/TH.po
  snapshots/countries/TH_COMMON.json
  tests/countries/test_thailand.py
Labels: l10n, snapshot, test

#2174 Revert "Update Unites States holidays: remove Columbus Day..."
  holidays/countries/united_states.py
  snapshots/countries/US_COMMON.json
  tests/countries/test_united_states.py
Labels: snapshot, test

#2180 Update "Set up Python" to use 3.13
  .github/workflows/ci-cd.yml
Labels: ci

#2189 Add Ukraine holidays localization: th
  README.rst
  holidays/countries/ukraine.py
  holidays/locale/th/LC_MESSAGES/UA.po
  tests/countries/test_ukraine.py
Labels: l10n, test

#2190 Add Russia holidays localization: th
  README.rst
  holidays/countries/russia.py
  holidays/locale/th/LC_MESSAGES/RU.po
  tests/countries/test_russia.py
Labels: l10n, test

#2191 Update Montenegro holidays, add l10n support
  README.rst
  holidays/constants.py
  holidays/countries/montenegro.py
  holidays/locale/cnr/LC_MESSAGES/ME.po
  holidays/locale/en_US/LC_MESSAGES/ME.po
  holidays/locale/uk/LC_MESSAGES/ME.po
  snapshots/countries/ME_COMMON.json
  tests/countries/test_montenegro.py
Labels: l10n, snapshot, test

#2195 Sign release artifacts using Sigstore
  .github/workflows/ci-cd.yml
Labels: ci

#2197 Update working days calculation
  holidays/groups/custom.py
  holidays/holiday_base.py
  tests/countries/test_azerbaijan.py
  tests/countries/test_belarus.py
  tests/countries/test_china.py
  tests/countries/test_kazakhstan.py
  tests/countries/test_taiwan.py
  tests/countries/test_ukraine.py
  tests/countries/test_vietnam.py
Labels: test

#2199 Update Ukraine holidays in 1991
  holidays/countries/ukraine.py
  snapshots/countries/UA_COMMON.json
  tests/countries/test_ukraine.py
Labels: snapshot, test
