Repository vacanza/holidays, pull requests merged in 2024-09, with the labels that each got.

#1971 Update Jersey holidays
  holidays/countries/jersey.py
  snapshots/countries/JE_COMMON.json
  tests/countries/test_jersey.py
Labels: snapshot, test

#1973 Update South Korea holidays: add Armed Forces Day in 2024
  holidays/countries/south_korea.py
  snapshots/countries/KR_COMMON.json
  tests/countries/test_south_korea.py
Labels: snapshot, test

#1978 Update examples to reflect recent holidays changes
  docs/source/examples.rst
Labels: doc

#1977 Update Australia holidays: add `en_AU`, `en_US`, `th` localization
  AUTHORS
  README.rst
  holidays/countries/australia.py
  holidays/locale/en_AU/LC_MESSAGES/AU.po
  holidays/locale/en_US/LC_MESSAGES/AU.po
  holidays/locale/th/LC_MESSAGES/AU.po
  snapshots/countries/AU_ACT.json
  snapshots/countries/AU_NSW.json
  snapshots/countries/AU_QLD.json
  snapshots/countries/AU_SA.json
  snapshots/countries/AU_VIC.json
  snapshots/countries/AU_WA.json
  tests/countries/test_australia.py
Labels: l10n, snapshot, test

#1979 Update Germany holidays: add `th` localization, deprecated non-standard ISO code, add subdivision aliases
  README.rst
  holidays/constants.py
  holidays/countries/germany.py
  holidays/locale/th/LC_MESSAGES/DE.po
  tests/countries/test_germany.py
Labels: l10n, snapshot, test

#1981 Extend `_ThaiLunisolar` calendar support to 2157
  holidays/calendars/thai.py
  holidays/countries/cambodia.py
  holidays/countries/laos.py
  holidays/countries/thailand.py
  tests/calendars/test_thai.py
  tests/countries/test_cambodia.py
  tests/countries/test_thailand.py
Labels: test

#1984 Unify en_US Islamic holidays name translation
  holidays/countries/bahrain.py
  holidays/countries/brunei.py
  holidays/countries/djibouti.py
  holidays/countries/indonesia.py
  holidays/countries/iran.py
  holidays/countries/jordan.py
  holidays/countries/kuwait.py
  holidays/countries/tanzania.py
  holidays/countries/timor_leste.py
  holidays/locale/ar/LC_MESSAGES/BH.po
  holidays/locale/ar/LC_MESSAGES/DJ.po
  holidays/locale/ar/LC_MESSAGES/JO.po
  holidays/locale/ar/LC_MESSAGES/KW.po
  holidays/locale/en_US/LC_MESSAGES/BH.po
  holidays/locale/en_US/LC_MESSAGES/BN.po
  holidays/locale/en_US/LC_MESSAGES/DJ.po
  holidays/locale/en_US/LC_MESSAGES/ID.po
  holidays/locale/en_US/LC_MESSAGES/IR.po
  holidays/locale/en_US/LC_MESSAGES/JO.po
  holidays/locale/en_US/LC_MESSAGES/KW.po
  holidays/locale/en_US/LC_MESSAGES/TL.po
  holidays/locale/en_US/LC_MESSAGES/TZ.po
  holidays/locale/fa/LC_MESSAGES/IR.po
  holidays/locale/fr/LC_MESSAGES/DJ.po
  holidays/locale/id/LC_MESSAGES/ID.po
  holidays/locale/ms/LC_MESSAGES/BN.po
  holidays/locale/pt_TL/LC_MESSAGES/TL.po
  holidays/locale/sw/LC_MESSAGES/TZ.po
  holidays/locale/tet/LC_MESSAGES/TL.po
  holidays/locale/th/LC_MESSAGES/BN.po
  holidays/locale/uk/LC_MESSAGES/ID.po
  tests/countries/test_brunei.py
  tests/countries/test_djibouti.py
  tests/countries/test_indonesia.py
  tests/countries/test_iran.py
  tests/countries/test_jordan.py
  tests/countries/test_kuwait.py
  tests/countries/test_tanzania.py
  tests/countries/test_timor_leste.py
Labels: l10n, test

#1986 Update Australia holidays: fix Christmas Day in ACT
  holidays/countries/australia.py
  snapshots/countries/AU_ACT.json
Labels: snapshot

#1995 Add Frances Xavier Cabrini Day for United States, Colorado
  .pre-commit-config.yaml
  holidays/countries/united_states.py
  tests/countries/test_united_states.py
Labels: test

#2007 Remove deprecated `fix-encoding-pragma`, add `pyupgrade`
  .pre-commit-config.yaml
  holidays/calendars/gregorian.py
  holidays/calendars/thai.py
  holidays/utils.py
  scripts/calendar/asian_generator.py
  scripts/generate_release_notes.py
  tests/common.py
  tests/countries/test_finland.py
  tests/test_docs.py
  tests/test_l10n.py
  tests/test_registry.py
Labels: script, test

#2008 Add @PPsyrius to CODEOWNERS
  .github/CODEOWNERS
Labels: ci

#2009 Update `ci` label configuration
  .github/labeler.yml
Labels: ci

#2005 Add Saint Kitts & Nevis holidays
  README.rst
  holidays/countries/__init__.py
  holidays/countries/saint_kitts_and_nevis.py
  holidays/registry.py
  snapshots/countries/KN_COMMON.json
  tests/countries/test_saint_kitts_and_nevis.py
Labels: snapshot, test

#2011 Update Nicaragua holidays
  README.rst
  holidays/countries/nicaragua.py
  holidays/locale/en_US/LC_MESSAGES/NI.po
  holidays/locale/es/LC_MESSAGES/NI.po
  holidays/locale/uk/LC_MESSAGES/NI.po
  snapshots/countries/NI_AN.json
  snapshots/countries/NI_AS.json
  snapshots/countries/NI_BO.json
  snapshots/countries/NI_CA.json
  snapshots/countries/NI_CI.json
  snapshots/countries/NI_CO.json
  snapshots/countries/NI_COMMON.json
  snapshots/countries/NI_ES.json
  snapshots/countries/NI_GR.json
  snapshots/countries/NI_JI.json
  snapshots/countries/NI_LE.json
  snapshots/countries/NI_MD.json
  snapshots/countries/NI_MN.json
  snapshots/countries/NI_MS.json
  snapshots/countries/NI_MT.json
  snapshots/countries/NI_NS.json
  snapshots/countries/NI_RI.json
  snapshots/countries/NI_SJ.json
  tests/countries/test_nicaragua.py
Labels: l10n, snapshot, test

#2013 Update Japan holidays
  holidays/countries/japan.py
  snapshots/countries/JP_COMMON.json
  tests/countries/test_japan.py
Labels: snapshot, test

#2014 Update United States holidays: fix Washington's Birthday in GA & IN
  holidays/countries/united_states.py
  snapshots/countries/US_GA.json
  snapshots/countries/US_IN.json
  tests/countries/test_united_states.py
Labels: snapshot, test

#2010 Update working day related calculations
  docs/source/examples.rst
  holidays/holiday_base.py
  tests/test_holiday_base.py
Labels: doc, test

#2017 Update US holidays: American Samoa holidays
  holidays/countries/united_states.py
  snapshots/countries/AS_COMMON.json
  snapshots/countries/US_AS.json
  tests/countries/test_american_samoa.py
  tests/countries/test_united_states.py
Labels: snapshot, test

#2018 Update Azerbaijan holidays in 2024
  holidays/countries/azerbaijan.py
  snapshots/countries/AZ_COMMON.json
  tests/countries/test_azerbaijan.py
Labels: snapshot, test

#2023 Update Kazakhstan holidays: add substituted holidays, localization
  README.rst
  holidays/countries/kazakhstan.py
  holidays/locale/en_US/LC_MESSAGES/KZ.po
  holidays/locale/kk/LC_MESSAGES/KZ.po
  holidays/locale/uk/LC_MESSAGES/KZ.po
  snapshots/countries/KZ_COMMON.json
  tests/countries/test_kazakhstan.py
Labels: l10n, snapshot, test
