Repository vacanza/holidays, pull requests merged in 2025-09, with the labels that each got.

#2879 Expose entity additional codes
  holidays/registry.py
  tests/test_registry.py
Labels: test

#2874 Update Nigeria holidays, add l10n support
  README.md
  holidays/countries/nigeria.py
  holidays/locale/en_NG/LC_MESSAGES/NG.po
  holidays/locale/en_US/LC_MESSAGES/NG.po
  snapshots/countries/NG_COMMON.json
  tests/countries/test_nigeria.py
Labels: l10n, snapshot, test

#2820 Add Saint Helena, Ascension and Tristan da Cunha holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/saint_helena_ascension_and_tristan_da_cunha.py
  holidays/locale/en_GB/LC_MESSAGES/SH.po
  holidays/locale/en_US/LC_MESSAGES/SH.po
  holidays/registry.py
  tests/countries/test_saint_helena_ascension_and_tristan_da_cunha.py
Labels: l10n, test

#2912 Update Philippines holidays: add 2026 holidays
  holidays/countries/philippines.py
  holidays/locale/en_PH/LC_MESSAGES/PH.po
  holidays/locale/en_US/LC_MESSAGES/PH.po
  holidays/locale/fil/LC_MESSAGES/PH.po
  holidays/locale/th/LC_MESSAGES/PH.po
  snapshots/countries/PH_COMMON.json
  tests/countries/test_philippines.py
Labels: l10n, snapshot, test

#2854 Add Sudan holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/sudan.py
  holidays/groups/islamic.py
  holidays/locale/ar_SD/LC_MESSAGES/SD.po
  holidays/locale/en_US/LC_MESSAGES/SD.po
  holidays/registry.py
  tests/countries/test_sudan.py
Labels: l10n, test

#2924 Update countries with Eastern holidays: add estimated holidays labels
  holidays/countries/china.py
  holidays/countries/hongkong.py
  holidays/countries/macau.py
  holidays/countries/mongolia.py
  holidays/countries/south_korea.py
  holidays/countries/taiwan.py
  holidays/countries/vietnam.py
  holidays/groups/eastern.py
  holidays/locale/en_HK/LC_MESSAGES/HK.po
  holidays/locale/en_MO/LC_MESSAGES/MO.po
  holidays/locale/en_US/LC_MESSAGES/CN.po
  holidays/locale/en_US/LC_MESSAGES/HK.po
  holidays/locale/en_US/LC_MESSAGES/KR.po
  holidays/locale/en_US/LC_MESSAGES/MN.po
  holidays/locale/en_US/LC_MESSAGES/MO.po
  holidays/locale/en_US/LC_MESSAGES/TW.po
  holidays/locale/en_US/LC_MESSAGES/VN.po
  holidays/locale/ko/LC_MESSAGES/KR.po
  holidays/locale/mn/LC_MESSAGES/MN.po
  holidays/locale/pt_MO/LC_MESSAGES/MO.po
  holidays/locale/th/LC_MESSAGES/CN.po
  holidays/locale/th/LC_MESSAGES/HK.po
  holidays/locale/th/LC_MESSAGES/KR.po
  holidays/locale/th/LC_MESSAGES/MO.po
  holidays/locale/th/LC_MESSAGES/TW.po
  holidays/locale/th/LC_MESSAGES/VN.po
  holidays/locale/vi/LC_MESSAGES/VN.po
  holidays/locale/zh_CN/LC_MESSAGES/CN.po
  holidays/locale/zh_CN/LC_MESSAGES/HK.po
  holidays/locale/zh_CN/LC_MESSAGES/MO.po
  holidays/locale/zh_CN/LC_MESSAGES/TW.po
  holidays/locale/zh_HK/LC_MESSAGES/HK.po
  holidays/locale/zh_MO/LC_MESSAGES/MO.po
  holidays/locale/zh_TW/LC_MESSAGES/CN.po
  holidays/locale/zh_TW/LC_MESSAGES/TW.po
  holidays/observed_holiday_base.py
  snapshots/countries/KR_COMMON.json
  tests/common.py
  tests/countries/test_china.py
  tests/countries/test_hongkong.py
  tests/countries/test_taiwan.py
Labels: l10n, snapshot, test

#2932 Update Afghanistan holidays: 2025 exact Islamic holidays observances
  holidays/countries/afghanistan.py
  snapshots/countries/AF_COMMON.json
  tests/countries/test_afghanistan.py
Labels: snapshot, test

#2928 Update Algeria holidays: add `CHRISTIAN`, `HEBREW` supported categories
  README.md
  holidays/countries/algeria.py
  holidays/locale/ar/LC_MESSAGES/DZ.po
  holidays/locale/en_US/LC_MESSAGES/DZ.po
  holidays/locale/fr/LC_MESSAGES/DZ.po
  snapshots/countries/DZ_COMMON.json
  tests/countries/test_algeria.py
Labels: l10n, snapshot, test

#2937 Refactor Japan holidays: reduce l10n string duplication, `en_US` typo fixed
  holidays/countries/japan.py
  holidays/locale/en_US/LC_MESSAGES/JP.po
  holidays/locale/ja/LC_MESSAGES/JP.po
  holidays/locale/th/LC_MESSAGES/JP.po
  snapshots/countries/JP_COMMON.json
  tests/countries/test_japan.py
Labels: l10n, snapshot, test

#2942 Refactor South Africa holidays: move `start_year` to 1911, capitalization fixes
  holidays/countries/south_africa.py
  snapshots/countries/ZA_COMMON.json
  tests/countries/test_south_africa.py
Labels: snapshot, test

#2945 Add variable weekend support
  holidays/countries/algeria.py
  holidays/countries/jordan.py
  holidays/countries/kuwait.py
  holidays/countries/malaysia.py
  holidays/countries/oman.py
  holidays/countries/qatar.py
  holidays/countries/saudi_arabia.py
  holidays/countries/sudan.py
  holidays/countries/united_arab_emirates.py
  holidays/countries/yemen.py
  holidays/holiday_base.py
  pyproject.toml
  tests/countries/test_algeria.py
  tests/countries/test_jordan.py
  tests/countries/test_kuwait.py
  tests/countries/test_malaysia.py
  tests/countries/test_oman.py
  tests/countries/test_qatar.py
  tests/countries/test_saudi_arabia.py
  tests/countries/test_sudan.py
  tests/countries/test_united_arab_emirates.py
  tests/countries/test_yemen.py
Labels: test

#2944 Add Myanmar holidays
  README.md
  holidays/calendars/__init__.py
  holidays/calendars/burmese.py
  holidays/countries/__init__.py
  holidays/countries/myanmar.py
  holidays/groups/__init__.py
  holidays/groups/burmese.py
  holidays/groups/custom.py
  holidays/locale/en_US/LC_MESSAGES/MM.po
  holidays/locale/my/LC_MESSAGES/MM.po
  holidays/registry.py
  snapshots/countries/MM_COMMON.json
  tests/calendars/test_burmese.py
  tests/countries/test_myanmar.py
  tests/groups/test_burmese.py
  tests/test_holiday_base.py
Labels: l10n, snapshot, test

#2950 Fix working day test
  tests/common.py
Labels: test

#2951 Update Thailand holidays: add support for historical weekend patterns
  holidays/calendars/thai.py
  holidays/countries/thailand.py
  tests/calendars/test_thai.py
  tests/countries/test_thailand.py
Labels: test

#2964 Replace `lru_cache` with `cache`
  holidays/calendars/thai.py
  holidays/utils.py
  scripts/calendar/asian_generator.py
Labels: script

#2962 Add Antarctica holidays
  CONTRIBUTORS
  README.md
  holidays/countries/__init__.py
  holidays/countries/antarctica.py
  holidays/registry.py
  tests/countries/test_antarctica.py
Labels: l10n, test

#2952 Update Norway holidays: update subdivision list as per 2024 administrative reform
  README.md
  holidays/countries/norway.py
  tests/countries/test_norway.py
Labels: test
