Repository vacanza/holidays, pull requests merged in 2025-04, with the labels that each got.

#2388 Add Ivory Coast holidays
  AUTHORS.md
  README.md
  holidays/countries/__init__.py
  holidays/countries/ivory_coast.py
  holidays/groups/islamic.py
  holidays/locale/en_CI/LC_MESSAGES/CI.po
  holidays/locale/en_US/LC_MESSAGES/CI.po
  holidays/locale/fr/LC_MESSAGES/CI.po
  holidays/registry.py
  tests/countries/test_ivory_coast.py
Labels: l10n, test

#2362 Add iCalendar export support
  AUTHORS.md
  docs/api.md
  docs/examples.md
  holidays/holiday_base.py
  holidays/ical.py
  tests/test_ical.py
Labels: doc, test

#2140 Update `HolidayBase::pop_named`: add support for more lookup types
  holidays/holiday_base.py
  tests/test_holiday_base.py
Labels: test

#2395 Add Antigua and Barbuda holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/antigua_and_barbuda.py
  holidays/registry.py
  tests/countries/test_antigua_and_barbuda.py
Labels: test

#2398 Add Guinea holidays
  AUTHORS.md
  README.md
  holidays/calendars/islamic.py
  holidays/countries/__init__.py
  holidays/countries/guinea.py
  holidays/groups/islamic.py
  holidays/locale/en_US/LC_MESSAGES/GN.po
  holidays/locale/fr/LC_MESSAGES/GN.po
  holidays/registry.py
  scripts/calendar/islamic_generator.py
  tests/countries/test_guinea.py
Labels: l10n, script, test

#2409 Add Qatar holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/qatar.py
  holidays/locale/ar_QA/LC_MESSAGES/QA.po
  holidays/locale/en_US/LC_MESSAGES/QA.po
  holidays/registry.py
  tests/countries/test_qatar.py
Labels: l10n, test

#2452 Update BY.po files
  holidays/locale/be/LC_MESSAGES/BY.po
  holidays/locale/en_US/LC_MESSAGES/BY.po
  holidays/locale/ru/LC_MESSAGES/BY.po
  holidays/locale/th/LC_MESSAGES/BY.po
Labels: l10n

#2446 Update Pakistan holidays: add Youm-e-Takbeer holiday
  holidays/countries/pakistan.py
  holidays/locale/en_PK/LC_MESSAGES/PK.po
  holidays/locale/en_US/LC_MESSAGES/PK.po
  holidays/locale/ur_PK/LC_MESSAGES/PK.po
  tests/countries/test_pakistan.py
Labels: l10n, test

#2451 Update South Korea holidays: add 2025 Presidential Election Day
  holidays/countries/south_korea.py
  snapshots/countries/KR_COMMON.json
  tests/countries/test_south_korea.py
Labels: l10n, snapshot, test

#2459 Update .po files generator
  Makefile
  holidays/locale/be/LC_MESSAGES/BY.po
  holidays/locale/de/LC_MESSAGES/DE.po
  holidays/locale/en_HK/LC_MESSAGES/HK.po
  holidays/locale/en_MO/LC_MESSAGES/MO.po
  holidays/locale/en_TL/LC_MESSAGES/TL.po
  holidays/locale/en_US/LC_MESSAGES/AR.po
  holidays/locale/en_US/LC_MESSAGES/BN.po
  holidays/locale/en_US/LC_MESSAGES/BY.po
  holidays/locale/en_US/LC_MESSAGES/CN.po
  holidays/locale/en_US/LC_MESSAGES/DE.po
  holidays/locale/en_US/LC_MESSAGES/HK.po
  holidays/locale/en_US/LC_MESSAGES/KH.po
  holidays/locale/en_US/LC_MESSAGES/LV.po
  holidays/locale/en_US/LC_MESSAGES/MD.po
  holidays/locale/en_US/LC_MESSAGES/MO.po
  holidays/locale/en_US/LC_MESSAGES/RU.po
  holidays/locale/en_US/LC_MESSAGES/TH.po
  holidays/locale/en_US/LC_MESSAGES/TL.po
  holidays/locale/es/LC_MESSAGES/AR.po
  holidays/locale/km/LC_MESSAGES/KH.po
  holidays/locale/lv/LC_MESSAGES/LV.po
  holidays/locale/ms/LC_MESSAGES/BN.po
  holidays/locale/pt_MO/LC_MESSAGES/MO.po
  holidays/locale/pt_TL/LC_MESSAGES/TL.po
  holidays/locale/ro/LC_MESSAGES/MD.po
  holidays/locale/ru/LC_MESSAGES/BY.po
  holidays/locale/ru/LC_MESSAGES/RU.po
  holidays/locale/tet/LC_MESSAGES/TL.po
  holidays/locale/th/LC_MESSAGES/BN.po
  holidays/locale/th/LC_MESSAGES/BY.po
  holidays/locale/th/LC_MESSAGES/CN.po
  holidays/locale/th/LC_MESSAGES/DE.po
  holidays/locale/th/LC_MESSAGES/HK.po
  holidays/locale/th/LC_MESSAGES/KH.po
  holidays/locale/th/LC_MESSAGES/MO.po
  holidays/locale/th/LC_MESSAGES/RU.po
  holidays/locale/th/LC_MESSAGES/TH.po
  holidays/locale/th/LC_MESSAGES/TL.po
  holidays/locale/uk/LC_MESSAGES/AR.po
  holidays/locale/uk/LC_MESSAGES/DE.po
  holidays/locale/uk/LC_MESSAGES/LV.po
  holidays/locale/uk/LC_MESSAGES/MD.po
  holidays/locale/zh_CN/LC_MESSAGES/CN.po
  holidays/locale/zh_CN/LC_MESSAGES/HK.po
  holidays/locale/zh_CN/LC_MESSAGES/MO.po
  holidays/locale/zh_HK/LC_MESSAGES/HK.po
  holidays/locale/zh_MO/LC_MESSAGES/MO.po
  holidays/locale/zh_TW/LC_MESSAGES/CN.po
  scripts/l10n/generate_po_files.py
  tests/common.py
Labels: l10n, script, test

#2466 Update Python latest supported version format
  tests/common.py
Labels: test

#2465 Add Suriname holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/suriname.py
  holidays/locale/en_US/LC_MESSAGES/SR.po
  holidays/locale/nl/LC_MESSAGES/SR.po
  holidays/registry.py
  tests/countries/test_suriname.py
Labels: l10n, test

#2433 Add Sierra Leone holidays
  AUTHORS.md
  README.md
  holidays/countries/__init__.py
  holidays/countries/sierra_leone.py
  holidays/locale/en_SL/LC_MESSAGES/SL.po
  holidays/locale/en_US/LC_MESSAGES/SL.po
  holidays/registry.py
  snapshots/countries/SL_COMMON.json
  tests/countries/test_sierra_leone.py
Labels: l10n, snapshot, test

#2463 Add Oman holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/oman.py
  holidays/groups/islamic.py
  holidays/locale/ar/LC_MESSAGES/OM.po
  holidays/locale/en_US/LC_MESSAGES/OM.po
  holidays/registry.py
  tests/countries/test_oman.py
Labels: l10n, test

#2470 Update .po files generator
  requirements/dev.txt
  scripts/l10n/generate_po_files.py
Labels: script

#2442 Add French Southern Territories holidays
  AUTHORS.md
  README.md
  holidays/countries/__init__.py
  holidays/countries/france.py
  holidays/countries/french_southern_territories.py
  holidays/locale/en_US/LC_MESSAGES/TF.po
  holidays/locale/fr/LC_MESSAGES/TF.po
  holidays/locale/uk/LC_MESSAGES/TF.po
  holidays/registry.py
  tests/countries/test_french_southern_territories.py
Labels: l10n, test

#2487 Update Singapore holidays: 2025 Polling Day on May 3rd
  holidays/countries/singapore.py
  snapshots/countries/SG_COMMON.json
  tests/countries/test_singapore.py
Labels: snapshot, test

#2492 Update documentation tests: add AUTHORS.md checking
  .pre-commit-config.yaml
  AUTHORS.md
  tests/test_docs.py
Labels: test

#2488 Extend Chinese Lunisolar calendar support
  holidays/calendars/buddhist.py
  holidays/calendars/chinese.py
  holidays/calendars/hindu.py
  holidays/countries/south_korea.py
  holidays/countries/vietnam.py
  holidays/groups/chinese.py
  scripts/calendar/asian_generator.py
  snapshots/countries/VN_COMMON.json
  tests/calendars/test_chinese.py
  tests/countries/test_vietnam.py
Labels: snapshot, script, test

#2498 Update Taiwan holidays: test case refactor
  tests/countries/test_taiwan.py
Labels: test

#2489 Add Sao Tome and Principe holidays
  CONTRIBUTORS
  README.md
  holidays/countries/__init__.py
  holidays/countries/sao_tome_and_principe.py
  holidays/locale/en_US/LC_MESSAGES/ST.po
  holidays/locale/pt_ST/LC_MESSAGES/ST.po
  holidays/registry.py
  tests/countries/test_sao_tome_and_principe.py
Labels: l10n, test

#2501 Update documentation build process
  docs/contributing.md
  docs/index.md
  mkdocs.yml
  scripts/docs/gen_index.py
Labels: doc, script

#2502 Update India holidays: add missing Tamil Nadu holidays
  holidays/calendars/hindu.py
  holidays/countries/india.py
  holidays/groups/hindu.py
  holidays/locale/en_IN/LC_MESSAGES/IN.po
  holidays/locale/en_US/LC_MESSAGES/IN.po
  holidays/locale/hi/LC_MESSAGES/IN.po
  tests/countries/test_india.py
Labels: l10n, test

#2505 Docstring cleanup for Indochinese countries
  holidays/countries/cambodia.py
  holidays/countries/thailand.py
  holidays/groups/thai.py
  holidays/locale/en_US/LC_MESSAGES/KH.po
  holidays/locale/km/LC_MESSAGES/KH.po
  holidays/locale/th/LC_MESSAGES/KH.po
Labels: l10n

#2507 Update Canada holidays: add historical holidays
  holidays/countries/canada.py
  holidays/locale/ar/LC_MESSAGES/CA.po
  holidays/locale/en_CA/LC_MESSAGES/CA.po
  holidays/locale/en_US/LC_MESSAGES/CA.po
  holidays/locale/fr/LC_MESSAGES/CA.po
  holidays/locale/th/LC_MESSAGES/CA.po
  snapshots/countries/CA_AB.json
  snapshots/countries/CA_BC.json
  snapshots/countries/CA_COMMON.json
  snapshots/countries/CA_MB.json
  snapshots/countries/CA_NB.json
  snapshots/countries/CA_NL.json
  snapshots/countries/CA_NS.json
  snapshots/countries/CA_NT.json
  snapshots/countries/CA_NU.json
  snapshots/countries/CA_ON.json
  snapshots/countries/CA_PE.json
  snapshots/countries/CA_QC.json
  snapshots/countries/CA_SK.json
  snapshots/countries/CA_YT.json
  tests/countries/test_canada.py
Labels: l10n, snapshot, test

#2402 Add Trinidad and Tobago holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/trinidad_and_tobago.py
  holidays/locale/en_TT/LC_MESSAGES/TT.po
  holidays/locale/en_US/LC_MESSAGES/TT.po
  holidays/registry.py
  tests/countries/test_trinidad_and_tobago.py
Labels: l10n, test
