Repository vacanza/holidays, pull requests merged in 2025-06, with the labels that each got.

#2571 Add Bermuda holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/bermuda.py
  holidays/registry.py
  tests/countries/test_bermuda.py
Labels: test

#2605 Set Python 3.13 as primary in CI/CD
  .github/workflows/ci-cd.yml
  .github/workflows/pre-commit-autoupdate.yml
  .github/workflows/update-snapshots.yml
  .readthedocs.yaml
  tox.ini
Labels: ci

#2612 Refactor TF holidays
  holidays/countries/french_southern_territories.py
  tests/countries/test_french_southern_territories.py
Labels: test

#2589 Update Bermuda holidays: add l10n support
  README.md
  holidays/countries/bermuda.py
  holidays/locale/en_BM/LC_MESSAGES/BM.po
  holidays/locale/en_US/LC_MESSAGES/BM.po
  tests/countries/test_bermuda.py
Labels: l10n, test

#2593 Add Senegal holidays
  README.md
  holidays/calendars/islamic.py
  holidays/countries/__init__.py
  holidays/countries/senegal.py
  holidays/groups/islamic.py
  holidays/locale/en_US/LC_MESSAGES/SN.po
  holidays/locale/fr_SN/LC_MESSAGES/SN.po
  holidays/registry.py
  scripts/calendar/islamic_generator.py
  tests/countries/test_senegal.py
Labels: l10n, script, test

#2614 Add Guyana holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/guyana.py
  holidays/locale/en_GY/LC_MESSAGES/GY.po
  holidays/locale/en_US/LC_MESSAGES/GY.po
  holidays/registry.py
  snapshots/countries/GY_COMMON.json
  tests/countries/test_guyana.py
Labels: l10n, snapshot, test

#2633 Bump numpy to 2.3.0
  requirements/tests.txt
  tests/third_party/test_numpy.py
Labels: test

#2653 Update Taiwan holidays
  holidays/countries/taiwan.py
  holidays/groups/chinese.py
  holidays/locale/en_US/LC_MESSAGES/TW.po
  holidays/locale/th/LC_MESSAGES/TW.po
  holidays/locale/zh_CN/LC_MESSAGES/TW.po
  holidays/locale/zh_TW/LC_MESSAGES/TW.po
  snapshots/countries/TW_COMMON.json
  tests/countries/test_taiwan.py
Labels: l10n, snapshot, test

#2631 Add Sint Maarten holidays
  CONTRIBUTORS
  README.md
  holidays/countries/__init__.py
  holidays/countries/sint_maarten.py
  holidays/locale/en_US/LC_MESSAGES/SX.po
  holidays/locale/nl/LC_MESSAGES/SX.po
  holidays/observed_holiday_base.py
  holidays/registry.py
  tests/countries/test_sint_maarten.py
Labels: l10n, test

#2601 Add Mongolia holidays
  README.md
  holidays/calendars/__init__.py
  holidays/calendars/mongolian.py
  holidays/countries/__init__.py
  holidays/countries/mongolia.py
  holidays/groups/__init__.py
  holidays/groups/eastern.py
  holidays/groups/mongolian.py
  holidays/locale/en_US/LC_MESSAGES/MN.po
  holidays/locale/mn/LC_MESSAGES/MN.po
  holidays/registry.py
  scripts/calendar/mongolian_generator.py
  tests/countries/test_mongolia.py
Labels: l10n, script, test

#2679 Update Uzbekistan holidays: add 2024-2025 exact dates
  holidays/countries/uzbekistan.py
  snapshots/countries/UZ_COMMON.json
  tests/countries/test_uzbekistan.py
Labels: snapshot, test

#2684 Update San Marino holidays, add l10n support
  README.md
  holidays/countries/san_marino.py
  holidays/locale/en_US/LC_MESSAGES/SM.po
  holidays/locale/it/LC_MESSAGES/SM.po
  holidays/locale/uk/LC_MESSAGES/SM.po
  snapshots/countries/SM_COMMON.json
  tests/countries/test_san_marino.py
Labels: l10n, snapshot, test

#2685 Simplify parent-based entity handling
  holidays/countries/aland_islands.py
  holidays/countries/american_samoa.py
  holidays/countries/french_guiana.py
  holidays/countries/french_polynesia.py
  holidays/countries/french_southern_territories.py
  holidays/countries/guadeloupe.py
  holidays/countries/guam.py
  holidays/countries/hongkong.py
  holidays/countries/isle_of_man.py
  holidays/countries/martinique.py
  holidays/countries/mayotte.py
  holidays/countries/new_caledonia.py
  holidays/countries/northern_mariana_islands.py
  holidays/countries/puerto_rico.py
  holidays/countries/reunion.py
  holidays/countries/saint_barthelemy.py
  holidays/countries/saint_martin.py
  holidays/countries/saint_pierre_and_miquelon.py
  holidays/countries/svalbard_and_jan_mayen.py
  holidays/countries/united_states_minor_outlying_islands.py
  holidays/countries/united_states_virgin_islands.py
  holidays/countries/wallis_and_futuna.py
  holidays/holiday_base.py
  holidays/mixins/__init__.py
  holidays/mixins/child_entity.py
  holidays/mixins/preferred_discretionary_holidays.py
  tests/countries/test_american_samoa.py
  tests/countries/test_guam.py
  tests/countries/test_northern_mariana_islands.py
  tests/countries/test_puerto_rico.py
  tests/countries/test_united_states_minor_outlying_islands.py
  tests/countries/test_united_states_virgin_islands.py
Labels: test

#2689 Fix iCal exporter tests
  tests/test_ical.py
Labels: test
