Repository vacanza/holidays, pull requests merged in 2025-07, with the labels that each got.

#2671 Add Libya holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/libya.py
  holidays/locale/ar/LC_MESSAGES/LY.po
  holidays/locale/en_US/LC_MESSAGES/LY.po
  holidays/registry.py
  tests/countries/test_libya.py
Labels: l10n, test

#2695 Add working day tests for countries with substituted holidays
  holidays/countries/hungary.py
  tests/countries/test_hungary.py
  tests/countries/test_kazakhstan.py
  tests/countries/test_russia.py
  tests/countries/test_vietnam.py
Labels: test

#2651 Add Bonaire, Sint Eustatius and Saba holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/bonaire_sint_eustatius_and_saba.py
  holidays/locale/en_BQ/LC_MESSAGES/BQ.po
  holidays/locale/en_US/LC_MESSAGES/BQ.po
  holidays/locale/nl/LC_MESSAGES/BQ.po
  holidays/locale/pap_BQ/LC_MESSAGES/BQ.po
  holidays/registry.py
  snapshots/countries/BQ_BON.json
  snapshots/countries/BQ_COMMON.json
  snapshots/countries/BQ_SAB.json
  snapshots/countries/BQ_STA.json
  tests/countries/test_bonaire_sint_eustatius_and_saba.py
  tests/test_docs.py
Labels: l10n, snapshot, test

#2707 Optimize dict in/get cases
  holidays/countries/australia.py
  holidays/countries/british_virgin_islands.py
  holidays/countries/cocos_islands.py
  holidays/countries/guernsey.py
  holidays/countries/japan.py
  holidays/countries/jersey.py
  holidays/countries/nepal.py
  holidays/countries/new_zealand.py
  holidays/countries/solomon_islands.py
  holidays/countries/turks_and_caicos_islands.py
  holidays/countries/united_kingdom.py
  holidays/countries/united_states.py
  scripts/calendar/asian_generator.py
  scripts/calendar/hebrew_generator.py
  scripts/calendar/islamic_generator.py
Labels: script

#2708 Improve some variable naming
  holidays/groups/hebrew.py
  tests/countries/test_australia.py
  tests/countries/test_malaysia.py
  tests/countries/test_spain.py
  tests/countries/test_switzerland.py
Labels: test

#2714 Add Montserrat holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/montserrat.py
  holidays/holiday_base.py
  holidays/locale/en_MS/LC_MESSAGES/MS.po
  holidays/locale/en_US/LC_MESSAGES/MS.po
  holidays/observed_holiday_base.py
  holidays/registry.py
  tests/countries/test_montserrat.py
Labels: l10n, test

#2721 Document `_add_holiday_*` pattern
  docs/examples.md
Labels: doc

#2719 Add Faroe Islands holidays
  .gitignore
  CONTRIBUTORS
  README.md
  holidays/countries/__init__.py
  holidays/countries/faroe_islands.py
  holidays/locale/da/LC_MESSAGES/FO.po
  holidays/locale/en_US/LC_MESSAGES/FO.po
  holidays/locale/fo/LC_MESSAGES/FO.po
  holidays/locale/is/LC_MESSAGES/FO.po
  holidays/locale/no/LC_MESSAGES/FO.po
  holidays/locale/sv/LC_MESSAGES/FO.po
  holidays/registry.py
  snapshots/countries/FO_COMMON.json
  tests/countries/test_faroe_islands.py
Labels: l10n, snapshot, test

#2700 Add Lebanon holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/lebanon.py
  holidays/locale/ar/LC_MESSAGES/LB.po
  holidays/locale/en_US/LC_MESSAGES/LB.po
  holidays/registry.py
  tests/countries/test_lebanon.py
Labels: l10n, test

#2727 Add Tokelau holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/tokelau.py
  holidays/locale/en_TK/LC_MESSAGES/TK.po
  holidays/locale/en_US/LC_MESSAGES/TK.po
  holidays/locale/tkl/LC_MESSAGES/TK.po
  holidays/registry.py
  tests/countries/test_tokelau.py
Labels: l10n, test

#2720 Add Gibraltar holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/gibraltar.py
  holidays/locale/en_GB/LC_MESSAGES/GI.po
  holidays/locale/en_US/LC_MESSAGES/GI.po
  holidays/registry.py
  tests/countries/test_gibraltar.py
Labels: l10n, test

#2687 Add Central African Republic holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/central_african_republic.py
  holidays/locale/en_US/LC_MESSAGES/CF.po
  holidays/locale/fr/LC_MESSAGES/CF.po
  holidays/registry.py
  snapshots/countries/CF_COMMON.json
  tests/countries/test_central_african_republic.py
Labels: l10n, snapshot, test

#2702 Add Democratic Republic of the Congo holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/dr_congo.py
  holidays/locale/en_US/LC_MESSAGES/CD.po
  holidays/locale/fr/LC_MESSAGES/CD.po
  holidays/registry.py
  snapshots/countries/CD_COMMON.json
  tests/countries/test_dr_congo.py
Labels: l10n, snapshot, test

#2737 Add Niue holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/niue.py
  holidays/locale/en_NU/LC_MESSAGES/NU.po
  holidays/locale/en_US/LC_MESSAGES/NU.po
  holidays/registry.py
  tests/countries/test_niue.py
Labels: l10n, test

#2654 Add Cabo Verde holidays
  CONTRIBUTORS
  README.md
  holidays/countries/__init__.py
  holidays/countries/cabo_verde.py
  holidays/locale/de/LC_MESSAGES/CV.po
  holidays/locale/en_US/LC_MESSAGES/CV.po
  holidays/locale/es/LC_MESSAGES/CV.po
  holidays/locale/fr/LC_MESSAGES/CV.po
  holidays/locale/pt_CV/LC_MESSAGES/CV.po
  holidays/registry.py
  snapshots/countries/CV_BR.json
  snapshots/countries/CV_BV.json
  snapshots/countries/CV_CA.json
  snapshots/countries/CV_CF.json
  snapshots/countries/CV_COMMON.json
  snapshots/countries/CV_CR.json
  snapshots/countries/CV_MA.json
  snapshots/countries/CV_MO.json
  snapshots/countries/CV_PA.json
  snapshots/countries/CV_PN.json
  snapshots/countries/CV_PR.json
  snapshots/countries/CV_RB.json
  snapshots/countries/CV_RG.json
  snapshots/countries/CV_RS.json
  snapshots/countries/CV_SD.json
  snapshots/countries/CV_SF.json
  snapshots/countries/CV_SL.json
  snapshots/countries/CV_SM.json
  snapshots/countries/CV_SO.json
  snapshots/countries/CV_SS.json
  snapshots/countries/CV_SV.json
  snapshots/countries/CV_TA.json
  snapshots/countries/CV_TS.json
  tests/countries/test_cabo_verde.py
Labels: l10n, snapshot, test

#2725 Add Mali holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/mali.py
  holidays/groups/islamic.py
  holidays/locale/en_US/LC_MESSAGES/ML.po
  holidays/locale/fr/LC_MESSAGES/ML.po
  holidays/registry.py
  tests/countries/test_mali.py
Labels: l10n, test

#2730 Update Peru holidays: add 2023+ holidays
  CONTRIBUTORS
  holidays/countries/peru.py
  holidays/locale/en_US/LC_MESSAGES/PE.po
  holidays/locale/es/LC_MESSAGES/PE.po
  holidays/locale/uk/LC_MESSAGES/PE.po
  tests/countries/test_peru.py
Labels: l10n, test

#2748 Update Egypt holidays: update remaining .po files changes
  holidays/locale/ar_EG/LC_MESSAGES/EG.po
  holidays/locale/en_US/LC_MESSAGES/EG.po
  holidays/locale/fr/LC_MESSAGES/EG.po
Labels: l10n

#2751 Update Luxembourg holidays: add bank holidays
  README.md
  holidays/countries/luxembourg.py
  holidays/locale/de/LC_MESSAGES/LU.po
  holidays/locale/en_US/LC_MESSAGES/LU.po
  holidays/locale/fr/LC_MESSAGES/LU.po
  holidays/locale/lb/LC_MESSAGES/LU.po
  holidays/locale/uk/LC_MESSAGES/LU.po
  snapshots/countries/LU_COMMON.json
  tests/countries/test_luxembourg.py
Labels: l10n, snapshot, test

#2650 Add Python 3.14 (beta) to CI/CD
  .github/workflows/ci-cd.yml
  requirements/tests.txt
  tox.ini
Labels: ci
