Repository vacanza/holidays, pull requests merged in 2025-03, with the labels that each got.

#2324 v0.68
  .coderabbit.yaml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/pre-commit-autoupdate.yml
  .github/workflows/update-snapshots.yml
  .pre-commit-config.yaml
  CHANGES
  README.rst
  SECURITY.md
  holidays/calendars/chinese.py
  holidays/countries/azerbaijan.py
  holidays/countries/kenya.py
  holidays/countries/malaysia.py
  holidays/locale/en_KE/LC_MESSAGES/KE.po
  holidays/locale/en_US/LC_MESSAGES/KE.po
  holidays/locale/en_US/LC_MESSAGES/MY.po
  holidays/locale/ms_MY/LC_MESSAGES/MY.po
  holidays/locale/sw/LC_MESSAGES/KE.po
  holidays/locale/th/LC_MESSAGES/MY.po
  holidays/version.py
  requirements/build.txt
  requirements/dev.txt
  requirements/tests.txt
  scripts/l10n/generate_mo_files.py
  scripts/l10n/generate_po_files.py
  snapshots/countries/AZ_COMMON.json
  snapshots/countries/HK_COMMON.json
  snapshots/countries/KE_COMMON.json
  snapshots/countries/MY_01.json
  snapshots/countries/MY_02.json
  snapshots/countries/MY_03.json
  snapshots/countries/MY_04.json
  snapshots/countries/MY_05.json
  snapshots/countries/MY_06.json
  snapshots/countries/MY_07.json
  snapshots/countries/MY_08.json
  snapshots/countries/MY_09.json
  snapshots/countries/MY_10.json
  snapshots/countries/MY_11.json
  snapshots/countries/MY_12.json
  snapshots/countries/MY_13.json
  snapshots/countries/MY_14.json
  snapshots/countries/MY_15.json
  snapshots/countries/MY_16.json
  snapshots/countries/MY_COMMON.json
  tests/countries/test_azerbaijan.py
  tests/countries/test_hongkong.py
  tests/countries/test_kenya.py
  tests/countries/test_malaysia.py
Labels: l10n, snapshot, ci, script, test

#2326 Update Hong Kong holidays: standardizes `en_US` l10n with China's and Macau's implementation
  holidays/countries/hongkong.py
  holidays/locale/en_HK/LC_MESSAGES/HK.po
  holidays/locale/en_US/LC_MESSAGES/HK.po
  holidays/locale/th/LC_MESSAGES/HK.po
  holidays/locale/zh_CN/LC_MESSAGES/HK.po
  holidays/locale/zh_HK/LC_MESSAGES/HK.po
  snapshots/countries/HK_COMMON.json
  tests/countries/test_hongkong.py
Labels: l10n, snapshot, test

#2327 Update Timor Leste holidays: fix 2025 Islamic holidays
  holidays/countries/timor_leste.py
  snapshots/countries/TL_COMMON.json
  tests/countries/test_timor_leste.py
Labels: snapshot, test

#2325 Update US holidays: аdd additional MI state holidays
  holidays/countries/united_states.py
  snapshots/countries/US_MI.json
  tests/countries/test_united_states.py
Labels: snapshot, test

#2328 Update Indonesia holidays: 2031-2050 Day of Silence (Nyepi) data, migrate to `BalineseSakaCalendarHolidays`
  holidays/calendars/__init__.py
  holidays/calendars/balinese_saka.py
  holidays/countries/indonesia.py
  holidays/groups/__init__.py
  holidays/groups/balinese_saka.py
  snapshots/countries/ID_COMMON.json
  tests/countries/test_indonesia.py
  tests/test_holiday_groups.py
Labels: snapshot, test

#2332 Update Philippines holidays: 2025 Eid'l Fitr and Eid'l Adha Tentative Date
  holidays/countries/philippines.py
  snapshots/countries/PH_COMMON.json
  tests/countries/test_philippines.py
Labels: snapshot, test

#2323 Add Macau holidays
  README.rst
  holidays/constants.py
  holidays/countries/__init__.py
  holidays/countries/hongkong.py
  holidays/countries/macau.py
  holidays/groups/chinese.py
  holidays/locale/en_MO/LC_MESSAGES/MO.po
  holidays/locale/en_US/LC_MESSAGES/MO.po
  holidays/locale/pt_MO/LC_MESSAGES/MO.po
  holidays/locale/th/LC_MESSAGES/MO.po
  holidays/locale/zh_CN/LC_MESSAGES/MO.po
  holidays/locale/zh_MO/LC_MESSAGES/MO.po
  holidays/registry.py
  snapshots/countries/MO_COMMON.json
  snapshots/countries/MO_I.json
  snapshots/countries/MO_M.json
  tests/countries/test_macau.py
Labels: l10n, snapshot, test

#2298 Update `IslamicHolidays`: add an option whether to add estimation label to holiday name
  holidays/countries/afghanistan.py
  holidays/countries/albania.py
  holidays/countries/algeria.py
  holidays/countries/azerbaijan.py
  holidays/countries/bahrain.py
  holidays/countries/bosnia_and_herzegovina.py
  holidays/countries/brunei.py
  holidays/countries/burkina_faso.py
  holidays/countries/burundi.py
  holidays/countries/cameroon.py
  holidays/countries/chad.py
  holidays/countries/djibouti.py
  holidays/countries/egypt.py
  holidays/countries/ethiopia.py
  holidays/countries/gabon.py
  holidays/countries/ghana.py
  holidays/countries/india.py
  holidays/countries/indonesia.py
  holidays/countries/iran.py
  holidays/countries/jordan.py
  holidays/countries/kazakhstan.py
  holidays/countries/kenya.py
  holidays/countries/kuwait.py
  holidays/countries/kyrgyzstan.py
  holidays/countries/malaysia.py
  holidays/countries/maldives.py
  holidays/countries/mauritania.py
  holidays/countries/montenegro.py
  holidays/countries/morocco.py
  holidays/countries/nigeria.py
  holidays/countries/north_macedonia.py
  holidays/countries/pakistan.py
  holidays/countries/philippines.py
  holidays/countries/saudi_arabia.py
  holidays/countries/singapore.py
  holidays/countries/spain.py
  holidays/countries/sri_lanka.py
  holidays/countries/tanzania.py
  holidays/countries/timor_leste.py
  holidays/countries/tunisia.py
  holidays/countries/turkey.py
  holidays/countries/united_arab_emirates.py
  holidays/countries/uzbekistan.py
  holidays/groups/islamic.py
  tests/countries/test_afghanistan.py
  tests/countries/test_albania.py
  tests/countries/test_indonesia.py
  tests/countries/test_kenya.py
  tests/countries/test_pakistan.py
  tests/countries/test_philippines.py
  tests/countries/test_united_arab_emirates.py
Labels: test

#2333 Introduce HolidayBase methods for proper serialization
  holidays/holiday_base.py
  tests/test_holiday_base.py
Labels: test

#2259 Update IN holidays and localization
  AUTHORS
  README.rst
  holidays/calendars/hindu.py
  holidays/countries/india.py
  holidays/groups/hindu.py
  holidays/locale/en_IN/LC_MESSAGES/IN.po
  holidays/locale/en_US/LC_MESSAGES/IN.po
  holidays/locale/hi/LC_MESSAGES/IN.po
  snapshots/countries/IN_AN.json
  snapshots/countries/IN_AP.json
  snapshots/countries/IN_AR.json
  snapshots/countries/IN_AS.json
  snapshots/countries/IN_BR.json
  snapshots/countries/IN_CG.json
  snapshots/countries/IN_CH.json
  snapshots/countries/IN_COMMON.json
  snapshots/countries/IN_DH.json
  snapshots/countries/IN_DL.json
  snapshots/countries/IN_GA.json
  snapshots/countries/IN_GJ.json
  snapshots/countries/IN_HP.json
  snapshots/countries/IN_HR.json
  snapshots/countries/IN_JH.json
  snapshots/countries/IN_JK.json
  snapshots/countries/IN_KA.json
  snapshots/countries/IN_KL.json
  snapshots/countries/IN_LA.json
  snapshots/countries/IN_LD.json
  snapshots/countries/IN_MH.json
  snapshots/countries/IN_ML.json
  snapshots/countries/IN_MN.json
  snapshots/countries/IN_MP.json
  snapshots/countries/IN_MZ.json
  snapshots/countries/IN_NL.json
  snapshots/countries/IN_OD.json
  snapshots/countries/IN_PB.json
  snapshots/countries/IN_PY.json
  snapshots/countries/IN_RJ.json
  snapshots/countries/IN_SK.json
  snapshots/countries/IN_TN.json
  snapshots/countries/IN_TR.json
  snapshots/countries/IN_TS.json
  snapshots/countries/IN_UK.json
  snapshots/countries/IN_UP.json
  snapshots/countries/IN_WB.json
  tests/countries/test_india.py
Labels: l10n, snapshot, test

#2349 Update Taiwan holidays: add categories support
  README.rst
  holidays/countries/taiwan.py
  holidays/locale/en_US/LC_MESSAGES/TW.po
  holidays/locale/th/LC_MESSAGES/TW.po
  holidays/locale/zh_CN/LC_MESSAGES/TW.po
  holidays/locale/zh_TW/LC_MESSAGES/TW.po
  snapshots/countries/TW_COMMON.json
  tests/countries/test_taiwan.py
Labels: l10n, snapshot, test

#2346 Update Poland holidays: add `de` localization
  README.rst
  holidays/countries/poland.py
  holidays/locale/de/LC_MESSAGES/PL.po
  tests/countries/test_poland.py
Labels: l10n, test

#2363 Update pyproject.toml: align with PEP 639 metadata format
  pyproject.toml
  tests/test_package.py
Labels: test

#2370 Update Philippines holidays: adjust Bonifacio Day for 2023
  holidays/countries/philippines.py
  tests/countries/test_philippines.py
Labels: test

#2374 Update release notes generator
  scripts/generate_release_notes.py
Labels: script

#2380 Update Pakistan holidays: add 2023-2024 exact dates
  holidays/countries/pakistan.py
  tests/countries/test_pakistan.py
Labels: l10n, test

#2383 Update tests requirements
  requirements/tests.txt
  tests/test_package.py
Labels: test

#2384 Added commit SHAs instead of versions
  .github/workflows/ci-cd.yml
  .github/workflows/pre-commit-autoupdate.yml
  .github/workflows/prl-labeler.yml
  .github/workflows/update-snapshots.yml
  CONTRIBUTING.md
Labels: ci

#2354 Add Fiji holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/fiji.py
  holidays/observed_holiday_base.py
  holidays/registry.py
  snapshots/countries/FJ_COMMON.json
  tests/countries/test_fiji.py
Labels: snapshot, test

#2385 Update Pakistan holidays: add l10n support (en_PK, en_US, ur_PK)
  AUTHORS.md
  README.md
  holidays/countries/pakistan.py
  holidays/locale/en_PK/LC_MESSAGES/PK.po
  holidays/locale/en_US/LC_MESSAGES/PK.po
  holidays/locale/ur_PK/LC_MESSAGES/PK.po
  tests/countries/test_pakistan.py
Labels: l10n, test

#2393 Update India holidays: Hindi l10n fixes
  holidays/locale/hi/LC_MESSAGES/IN.po
  tests/countries/test_india.py
Labels: l10n, test
