Repository vacanza/holidays, pull requests merged in 2025-08, with the labels that each got.

#2773 Update Indonesia holidays: add August 18, 2025 holiday
  holidays/countries/indonesia.py
  snapshots/countries/ID_COMMON.json
  tests/countries/test_indonesia.py
Labels: snapshot, test

#2757 Add Turkmenistan holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/turkmenistan.py
  holidays/groups/islamic.py
  holidays/locale/en_US/LC_MESSAGES/TM.po
  holidays/locale/ru/LC_MESSAGES/TM.po
  holidays/locale/tk/LC_MESSAGES/TM.po
  holidays/registry.py
  tests/countries/test_turkmenistan.py
Labels: l10n, test

#2635 Add Bhutan holidays
  CONTRIBUTORS
  README.md
  holidays/calendars/__init__.py
  holidays/calendars/tibetan.py
  holidays/countries/__init__.py
  holidays/countries/bhutan.py
  holidays/groups/__init__.py
  holidays/groups/tibetan.py
  holidays/registry.py
  snapshots/countries/BT_11.json
  snapshots/countries/BT_12.json
  snapshots/countries/BT_13.json
  snapshots/countries/BT_14.json
  snapshots/countries/BT_15.json
  snapshots/countries/BT_21.json
  snapshots/countries/BT_22.json
  snapshots/countries/BT_23.json
  snapshots/countries/BT_24.json
  snapshots/countries/BT_31.json
  snapshots/countries/BT_32.json
  snapshots/countries/BT_33.json
  snapshots/countries/BT_34.json
  snapshots/countries/BT_41.json
  snapshots/countries/BT_42.json
  snapshots/countries/BT_43.json
  snapshots/countries/BT_44.json
  snapshots/countries/BT_45.json
  snapshots/countries/BT_COMMON.json
  snapshots/countries/BT_GA.json
  snapshots/countries/BT_TY.json
  tests/countries/test_bhutan.py
  tests/test_holiday_groups.py
Labels: l10n, snapshot, test

#2780 Add `HolidayBase::is_weekend` method
  holidays/holiday_base.py
  tests/test_holiday_base.py
Labels: test

#2759 Add confirmed years range support for custom calendars
  holidays/calendars/chinese.py
  holidays/calendars/islamic.py
  holidays/countries/afghanistan.py
  holidays/countries/albania.py
  holidays/countries/argentina.py
  holidays/countries/azerbaijan.py
  holidays/countries/bahrain.py
  holidays/countries/bosnia_and_herzegovina.py
  holidays/countries/brunei.py
  holidays/countries/burkina_faso.py
  holidays/countries/cameroon.py
  holidays/countries/central_african_republic.py
  holidays/countries/chad.py
  holidays/countries/christmas_island.py
  holidays/countries/cocos_islands.py
  holidays/countries/egypt.py
  holidays/countries/ethiopia.py
  holidays/countries/fiji.py
  holidays/countries/gabon.py
  holidays/countries/guinea.py
  holidays/countries/guyana.py
  holidays/countries/india.py
  holidays/countries/indonesia.py
  holidays/countries/iran.py
  holidays/countries/kazakhstan.py
  holidays/countries/kenya.py
  holidays/countries/lebanon.py
  holidays/countries/libya.py
  holidays/countries/malaysia.py
  holidays/countries/mali.py
  holidays/countries/mauritius.py
  holidays/countries/montenegro.py
  holidays/countries/nepal.py
  holidays/countries/niger.py
  holidays/countries/north_macedonia.py
  holidays/countries/oman.py
  holidays/countries/pakistan.py
  holidays/countries/palestine.py
  holidays/countries/philippines.py
  holidays/countries/qatar.py
  holidays/countries/saudi_arabia.py
  holidays/countries/senegal.py
  holidays/countries/sierra_leone.py
  holidays/countries/singapore.py
  holidays/countries/spain.py
  holidays/countries/sri_lanka.py
  holidays/countries/suriname.py
  holidays/countries/tanzania.py
  holidays/countries/timor_leste.py
  holidays/countries/togo.py
  holidays/countries/trinidad_and_tobago.py
  holidays/countries/turkey.py
  holidays/countries/united_arab_emirates.py
  holidays/countries/uzbekistan.py
  holidays/countries/yemen.py
  snapshots/countries/NE_COMMON.json
Labels: snapshot

#2774 Add Liberia holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/liberia.py
  holidays/registry.py
  tests/countries/test_liberia.py
Labels: test

#2763 Add Iraq holidays
  README.md
  holidays/calendars/mandaean.py
  holidays/constants.py
  holidays/countries/__init__.py
  holidays/countries/iraq.py
  holidays/groups/__init__.py
  holidays/groups/mandaean.py
  holidays/locale/ar/LC_MESSAGES/IQ.po
  holidays/locale/en_US/LC_MESSAGES/IQ.po
  holidays/registry.py
  tests/countries/test_iraq.py
  tests/test_holiday_groups.py
Labels: l10n, test

#2793 Update Chile holidays: abolition of Dec 31 bank holiday
  holidays/countries/chile.py
  tests/countries/test_chile.py
Labels: test

#2776 Add Guinea-Bissau holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/guinea_bissau.py
  holidays/locale/en_US/LC_MESSAGES/GW.po
  holidays/locale/pt_GW/LC_MESSAGES/GW.po
  holidays/registry.py
  tests/countries/test_guinea_bissau.py
  tests/test_docs.py
Labels: l10n, test

#2802 Update release notes generator
  scripts/generate_release_notes.py
Labels: script

#2803 Split tests/test_holiday_groups.py
  holidays/groups/tibetan.py
  tests/groups/__init__.py
  tests/groups/test_balinese_saka.py
  tests/groups/test_christian.py
  tests/groups/test_international.py
  tests/groups/test_mandaean.py
  tests/groups/test_persian.py
  tests/groups/test_thai.py
  tests/groups/test_tibetan.py
  tests/test_holiday_groups.py
Labels: test

#2804 Update Canada holidays: adjust introduction year of National Aboriginal Day in NT
  holidays/countries/canada.py
  snapshots/countries/CA_NT.json
  tests/countries/test_canada.py
Labels: snapshot, test

#2791 Add Syrian Arab Republic holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/syrian_arab_republic.py
  holidays/locale/ar/LC_MESSAGES/SY.po
  holidays/locale/en_US/LC_MESSAGES/SY.po
  holidays/registry.py
  tests/countries/test_syrian_arab_republic.py
Labels: l10n, test

#2829 Update Canada holidays: add National Day for Truth and Reconciliation in MB
  holidays/countries/canada.py
  tests/countries/test_canada.py
Labels: test

#2846 Add metadata package version mismatch hint
  tests/test_package.py
Labels: test

#2844 Update Singapore holidays: remove duplicate holidays label assignment
  holidays/countries/singapore.py
  holidays/locale/en_SG/LC_MESSAGES/SG.po
  holidays/locale/en_US/LC_MESSAGES/SG.po
  holidays/locale/th/LC_MESSAGES/SG.po
  snapshots/countries/SG_COMMON.json
Labels: l10n, snapshot

#2783 Add Eritrea holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/eritrea.py
  holidays/registry.py
  snapshots/countries/ER_COMMON.json
  tests/countries/test_eritrea.py
Labels: l10n, snapshot, test

#2853 Test Case Name Standardization
  tests/countries/test_aland_islands.py
Labels: test

#2852 Add Tajikistan holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/tajikistan.py
  holidays/locale/en_US/LC_MESSAGES/TJ.po
  holidays/locale/ru/LC_MESSAGES/TJ.po
  holidays/locale/tg/LC_MESSAGES/TJ.po
  holidays/registry.py
  tests/countries/test_tajikistan.py
Labels: l10n, test

#2827 Add Comoros holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/comoros.py
  holidays/registry.py
  snapshots/countries/KM_COMMON.json
  tests/countries/test_comoros.py
Labels: snapshot, test

#2821 Update Tanzania holidays: extend holidays support to 1965
  holidays/countries/tanzania.py
  holidays/locale/en_US/LC_MESSAGES/TZ.po
  holidays/locale/sw/LC_MESSAGES/TZ.po
  snapshots/countries/TZ_COMMON.json
  tests/countries/test_tanzania.py
Labels: l10n, snapshot, test

#2863 Update Georgia holidays: add August 29, 2025 special holiday
  README.md
  holidays/countries/georgia.py
  holidays/locale/en_US/LC_MESSAGES/GE.po
  holidays/locale/ka/LC_MESSAGES/GE.po
  holidays/locale/uk/LC_MESSAGES/GE.po
  snapshots/countries/GE_COMMON.json
  tests/countries/test_georgia.py
Labels: l10n, snapshot, test

#2860 Add `estimated_label` to all countries with Islamic holidays
  holidays/countries/argentina.py
  holidays/countries/bosnia_and_herzegovina.py
  holidays/countries/burkina_faso.py
  holidays/countries/cameroon.py
  holidays/countries/chad.py
  holidays/countries/gabon.py
  holidays/countries/kyrgyzstan.py
  holidays/countries/maldives.py
  holidays/countries/mauritania.py
  holidays/countries/nigeria.py
  holidays/countries/somalia.py
  holidays/countries/spain.py
  holidays/countries/uganda.py
  holidays/groups/eastern.py
  holidays/locale/bs/LC_MESSAGES/BA.po
  holidays/locale/en_US/LC_MESSAGES/AR.po
  holidays/locale/en_US/LC_MESSAGES/BA.po
  holidays/locale/en_US/LC_MESSAGES/ES.po
  holidays/locale/es/LC_MESSAGES/AR.po
  holidays/locale/es/LC_MESSAGES/ES.po
  holidays/locale/sr/LC_MESSAGES/BA.po
  holidays/locale/uk/LC_MESSAGES/AR.po
  holidays/locale/uk/LC_MESSAGES/BA.po
  holidays/locale/uk/LC_MESSAGES/ES.po
  snapshots/countries/CM_COMMON.json
  snapshots/countries/NG_COMMON.json
  tests/common.py
Labels: l10n, snapshot, test

#2868 Refactor Macau holidays: holiday categories standardization
  README.md
  holidays/constants.py
  holidays/countries/macau.py
  holidays/locale/en_MO/LC_MESSAGES/MO.po
  holidays/locale/en_US/LC_MESSAGES/MO.po
  holidays/locale/pt_MO/LC_MESSAGES/MO.po
  holidays/locale/th/LC_MESSAGES/MO.po
  holidays/locale/zh_CN/LC_MESSAGES/MO.po
  holidays/locale/zh_MO/LC_MESSAGES/MO.po
  tests/countries/test_macau.py
Labels: l10n, test

#2871 Fix Hindu Lunisolar calendar
  holidays/calendars/hindu.py
  snapshots/countries/IN_AN.json
  snapshots/countries/IN_AP.json
  snapshots/countries/IN_AR.json
  snapshots/countries/IN_AS.json
  snapshots/countries/IN_BR.json
  snapshots/countries/IN_CG.json
  snapshots/countries/IN_CH.json
  snapshots/countries/IN_COMMON.json
  snapshots/countries/IN_DH.json
  snapshots/countries/IN_DL.json
  snapshots/countries/IN_GA.json
  snapshots/countries/IN_GJ.json
  snapshots/countries/IN_HP.json
  snapshots/countries/IN_HR.json
  snapshots/countries/IN_JH.json
  snapshots/countries/IN_JK.json
  snapshots/countries/IN_KA.json
  snapshots/countries/IN_KL.json
  snapshots/countries/IN_LA.json
  snapshots/countries/IN_LD.json
  snapshots/countries/IN_MH.json
  snapshots/countries/IN_ML.json
  snapshots/countries/IN_MN.json
  snapshots/countries/IN_MP.json
  snapshots/countries/IN_MZ.json
  snapshots/countries/IN_NL.json
  snapshots/countries/IN_OD.json
  snapshots/countries/IN_PB.json
  snapshots/countries/IN_PY.json
  snapshots/countries/IN_RJ.json
  snapshots/countries/IN_SK.json
  snapshots/countries/IN_TN.json
  snapshots/countries/IN_TR.json
  snapshots/countries/IN_TS.json
  snapshots/countries/IN_UK.json
  snapshots/countries/IN_UP.json
  snapshots/countries/IN_WB.json
Labels: snapshot

#2831 Add South Sudan holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/south_sudan.py
  holidays/registry.py
  snapshots/countries/SS_COMMON.json
  tests/countries/test_south_sudan.py
Labels: snapshot, test

#2834 Add National Stock Exchange of India (NSE) holidays
  README.md
  holidays/financial/__init__.py
  holidays/financial/national_stock_exchange_of_india.py
  holidays/locale/en_IN/LC_MESSAGES/XNSE.po
  holidays/locale/en_US/LC_MESSAGES/XNSE.po
  holidays/locale/hi/LC_MESSAGES/XNSE.po
  holidays/registry.py
  snapshots/financial/XNSE.json
  tests/financial/test_national_stock_exchange_of_india.py
Labels: l10n, snapshot, test

#2877 Fix `TestAllInSameYear` methods
  tests/test_utils.py
Labels: test

#2876 Update `common::CommonTests`: expand label tests to financial entities
  tests/common.py
Labels: test
