Repository vacanza/holidays, pull requests merged in 2025-01, with the labels that each got.

#2200 Add Norway holidays localization: th
  README.rst
  holidays/countries/norway.py
  holidays/locale/th/LC_MESSAGES/NO.po
  tests/countries/test_norway.py
Labels: l10n, test

#2201 Update XNYS: add a Day of Mourning for President Jimmy Carter
  holidays/financial/ny_stock_exchange.py
  snapshots/financial/XNYS.json
  tests/financial/test_ny_stock_exchange.py
Labels: snapshot, test

#2207 Introduce `common.WorkingDayTests` class
  holidays/countries/azerbaijan.py
  holidays/countries/belarus.py
  holidays/countries/kazakhstan.py
  snapshots/countries/BY_COMMON.json
  snapshots/countries/KZ_COMMON.json
  tests/common.py
  tests/countries/test_azerbaijan.py
  tests/countries/test_belarus.py
  tests/countries/test_china.py
  tests/countries/test_kazakhstan.py
  tests/countries/test_taiwan.py
  tests/countries/test_ukraine.py
  tests/countries/test_vietnam.py
Labels: snapshot, test

#2210 Update Poland holidays: add Christmas Eve holiday since 2025
  holidays/countries/poland.py
  holidays/locale/en_US/LC_MESSAGES/PL.po
  holidays/locale/pl/LC_MESSAGES/PL.po
  holidays/locale/uk/LC_MESSAGES/PL.po
  snapshots/countries/PL_COMMON.json
  tests/countries/test_poland.py
Labels: l10n, snapshot, test

#2209 Update El Salvador holidays, add l10n support
  README.rst
  holidays/countries/el_salvador.py
  holidays/locale/en_US/LC_MESSAGES/SV.po
  holidays/locale/es/LC_MESSAGES/SV.po
  holidays/locale/uk/LC_MESSAGES/SV.po
  snapshots/countries/SV_AH.json
  snapshots/countries/SV_CA.json
  snapshots/countries/SV_CH.json
  snapshots/countries/SV_COMMON.json
  snapshots/countries/SV_CU.json
  snapshots/countries/SV_LI.json
  snapshots/countries/SV_MO.json
  snapshots/countries/SV_PA.json
  snapshots/countries/SV_SA.json
  snapshots/countries/SV_SM.json
  snapshots/countries/SV_SO.json
  snapshots/countries/SV_SS.json
  snapshots/countries/SV_SV.json
  snapshots/countries/SV_UN.json
  snapshots/countries/SV_US.json
  tests/countries/test_el_salvador.py
Labels: l10n, snapshot, test

#2198 Add Afghanistan holidays
  AUTHORS
  README.rst
  holidays/countries/__init__.py
  holidays/countries/afghanistan.py
  holidays/locale/en_US/LC_MESSAGES/AF.po
  holidays/locale/fa_AF/LC_MESSAGES/AF.po
  holidays/locale/ps_AF/LC_MESSAGES/AF.po
  holidays/registry.py
  snapshots/countries/AF_COMMON.json
  tests/countries/test_afghanistan.py
Labels: l10n, snapshot, test

#2213 Refactor XNYS holidays: standardize US market holidays' days of mourning entries
  holidays/financial/ny_stock_exchange.py
  snapshots/financial/XNYS.json
  tests/financial/test_ny_stock_exchange.py
Labels: snapshot, test

#2216 Add signed artifacts path
  .github/workflows/ci-cd.yml
Labels: ci

#2218 Update South Korea holidays: 2025 temporary public holidays
  holidays/countries/south_korea.py
  snapshots/countries/KR_COMMON.json
  tests/countries/test_south_korea.py
Labels: snapshot, test

#2221 Update Afghanistan holidays
  holidays/countries/afghanistan.py
  holidays/groups/persian.py
  holidays/locale/en_US/LC_MESSAGES/AF.po
  holidays/locale/fa_AF/LC_MESSAGES/AF.po
  holidays/locale/ps_AF/LC_MESSAGES/AF.po
  snapshots/countries/AF_COMMON.json
  tests/countries/test_afghanistan.py
Labels: l10n, snapshot, test

#2224 Update ruff from v0.8.6 to v0.9.1
  .pre-commit-config.yaml
  holidays/countries/lithuania.py
  holidays/countries/thailand.py
  holidays/holiday_base.py
  tests/countries/test_argentina.py
  tests/countries/test_germany.py
  tests/countries/test_laos.py
  tests/countries/test_spain.py
Labels: test

#2223 Update Afghanistan and Iran holidays: change weekend to FRI-SAT and FRI respectively
  holidays/countries/afghanistan.py
  holidays/countries/iran.py
Labels: l10n, snapshot, test

#2232 v0.65
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  CHANGES
  SECURITY.md
  holidays/countries/afghanistan.py
  holidays/countries/iran.py
  holidays/countries/lithuania.py
  holidays/countries/south_korea.py
  holidays/countries/thailand.py
  holidays/groups/persian.py
  holidays/holiday_base.py
  holidays/locale/en_US/LC_MESSAGES/AF.po
  holidays/locale/fa_AF/LC_MESSAGES/AF.po
  holidays/locale/ps_AF/LC_MESSAGES/AF.po
  holidays/version.py
  requirements/dev.txt
  scripts/generate_release_notes.py
  snapshots/countries/AF_COMMON.json
  snapshots/countries/KR_COMMON.json
  tests/countries/test_afghanistan.py
  tests/countries/test_argentina.py
  tests/countries/test_germany.py
  tests/countries/test_laos.py
  tests/countries/test_south_korea.py
  tests/countries/test_spain.py
Labels: l10n, snapshot, ci, script, test

#2233 Update PR exclusion logic
  scripts/generate_release_notes.py
Labels: script

#2235 Update Slovakia holidays: Constitution Day is working day since 2024
  holidays/countries/slovakia.py
  tests/countries/test_slovakia.py
Labels: test

#2237 Update Slovenia holidays
  README.rst
  holidays/countries/slovenia.py
  holidays/locale/en_US/LC_MESSAGES/SI.po
  holidays/locale/sl/LC_MESSAGES/SI.po
  holidays/locale/uk/LC_MESSAGES/SI.po
  snapshots/countries/SI_COMMON.json
  tests/countries/test_slovenia.py
Labels: l10n, snapshot, test

#2245 Pin CI/CD Ubuntu version
  .github/workflows/ci-cd.yml
  .github/workflows/pre-commit-autoupdate.yml
  .github/workflows/prl-labeler.yml
  .github/workflows/update-snapshots.yml
Labels: ci

#2246 Add West Frisian language
  README.rst
  holidays/countries/netherlands.py
  holidays/locale/fy/LC_MESSAGES/NL.po
  tests/countries/test_netherlands.py
Labels: l10n, test

#2248 Update Czechia holidays
  holidays/countries/czechia.py
  holidays/locale/cs/LC_MESSAGES/CZ.po
  holidays/locale/en_US/LC_MESSAGES/CZ.po
  holidays/locale/sk/LC_MESSAGES/CZ.po
  holidays/locale/uk/LC_MESSAGES/CZ.po
  snapshots/countries/CZ_COMMON.json
  tests/countries/test_czechia.py
Labels: l10n, snapshot, test

#2249 Update Iceland holidays: add HALF_DAY holidays
  README.rst
  holidays/countries/iceland.py
  holidays/locale/en_US/LC_MESSAGES/IS.po
  holidays/locale/is/LC_MESSAGES/IS.po
  holidays/locale/uk/LC_MESSAGES/IS.po
  snapshots/countries/IS_COMMON.json
  tests/countries/test_iceland.py
Labels: l10n, snapshot, test

#2250 Update Vatican City holidays: add missing holidays, l10n support
  README.rst
  holidays/countries/vatican_city.py
  holidays/groups/christian.py
  holidays/locale/en_US/LC_MESSAGES/VA.po
  holidays/locale/it/LC_MESSAGES/VA.po
  holidays/locale/th/LC_MESSAGES/VA.po
  snapshots/countries/VA_COMMON.json
  tests/countries/test_vatican_city.py
Labels: l10n, snapshot, test

#2252 Update Sweden holidays: fix All Saints' Day
  holidays/countries/sweden.py
  snapshots/countries/SE_COMMON.json
  tests/countries/test_sweden.py
Labels: snapshot, test

#2254 Update automatic snapshots update workflow
  .github/workflows/update-snapshots.yml
Labels: ci

#2253 Update Germany holidays: add Corpus Christi in CATHOLIC category
  holidays/countries/germany.py
  snapshots/countries/DE_SN.json
  snapshots/countries/DE_TH.json
  tests/countries/test_germany.py
Labels: snapshot, test
