Repository vacanza/holidays, pull requests merged in 2025-05, with the labels that each got.

#2518 Disable v1 incompatibility warning
  holidays/__init__.py
Labels: v1

#2523 Fix typography: replace U+2019 with "'" and U+2013 with '-'
  holidays/countries/albania.py
  holidays/countries/canada.py
  holidays/countries/hongkong.py
  holidays/countries/ivory_coast.py
  holidays/countries/macau.py
  holidays/countries/portugal.py
  holidays/ical.py
  holidays/locale/en_CI/LC_MESSAGES/CI.po
  holidays/locale/en_US/LC_MESSAGES/CI.po
  holidays/locale/fr/LC_MESSAGES/CI.po
  tests/countries/test_ivory_coast.py
Labels: l10n, test

#2520 Add missing subdivisions aliases
  README.md
  holidays/countries/american_samoa.py
  holidays/countries/andorra.py
  holidays/countries/argentina.py
  holidays/countries/australia.py
  holidays/countries/austria.py
  holidays/countries/bolivia.py
  holidays/countries/bosnia_and_herzegovina.py
  holidays/countries/brazil.py
  holidays/countries/canada.py
  holidays/countries/chile.py
  holidays/countries/el_salvador.py
  holidays/countries/france.py
  holidays/countries/germany.py
  holidays/countries/guam.py
  holidays/countries/india.py
  holidays/countries/macau.py
  holidays/countries/malaysia.py
  holidays/countries/new_zealand.py
  holidays/countries/nicaragua.py
  holidays/countries/northern_mariana_islands.py
  holidays/countries/portugal.py
  holidays/countries/puerto_rico.py
  holidays/countries/sao_tome_and_principe.py
  holidays/countries/spain.py
  holidays/countries/switzerland.py
  holidays/countries/tuvalu.py
  holidays/countries/united_states.py
  holidays/countries/united_states_minor_outlying_islands.py
  holidays/countries/united_states_virgin_islands.py
  tests/test_docs.py
Labels: test

#2529 Update Argentina holidays: add 2018 G20 Leaders' Summit for Buenos Aires
  holidays/countries/argentina.py
  holidays/locale/en_US/LC_MESSAGES/AR.po
  holidays/locale/es/LC_MESSAGES/AR.po
  holidays/locale/uk/LC_MESSAGES/AR.po
  snapshots/countries/AR_B.json
  tests/countries/test_argentina.py
Labels: l10n, snapshot, test

#2539 Update Philippines holidays: add special holiday May 12, 2025
  holidays/countries/philippines.py
  snapshots/countries/PH_COMMON.json
  tests/countries/test_philippines.py
Labels: snapshot, test

#2532 Add Cocos Islands holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/cocos_islands.py
  holidays/locale/coa_CC/LC_MESSAGES/CC.po
  holidays/locale/en_CC/LC_MESSAGES/CC.po
  holidays/locale/en_US/LC_MESSAGES/CC.po
  holidays/registry.py
  tests/countries/test_cocos_islands.py
Labels: l10n, test

#2540 Update documentation build: make PR links in changelog
  scripts/docs/gen_changelog.py
Labels: script

#2530 Update Andorra holidays, add l10n support
  README.md
  holidays/countries/andorra.py
  holidays/groups/christian.py
  holidays/locale/ca/LC_MESSAGES/AD.po
  holidays/locale/en_US/LC_MESSAGES/AD.po
  holidays/locale/uk/LC_MESSAGES/AD.po
  snapshots/countries/AD_02.json
  snapshots/countries/AD_03.json
  snapshots/countries/AD_04.json
  snapshots/countries/AD_05.json
  snapshots/countries/AD_06.json
  snapshots/countries/AD_07.json
  snapshots/countries/AD_08.json
  snapshots/countries/AD_COMMON.json
  tests/countries/test_andorra.py
Labels: l10n, snapshot, test

#2549 Update Vatican City holidays: add election and name day of Pope Leo XIV
  holidays/countries/vatican_city.py
  snapshots/countries/VA_COMMON.json
  tests/countries/test_vatican_city.py
Labels: snapshot, test

#2524 Add Grenada holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/grenada.py
  holidays/locale/en_GD/LC_MESSAGES/GD.po
  holidays/locale/en_US/LC_MESSAGES/GD.po
  holidays/registry.py
  tests/countries/test_grenada.py
Labels: l10n, test

#2386 Add Nepal holidays
  README.md
  holidays/calendars/hindu.py
  holidays/countries/__init__.py
  holidays/countries/nepal.py
  holidays/groups/hindu.py
  holidays/registry.py
  tests/countries/test_india.py
  tests/countries/test_nepal.py
Labels: l10n, test

#2525 Add Togo holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/togo.py
  holidays/locale/en_US/LC_MESSAGES/TG.po
  holidays/locale/fr/LC_MESSAGES/TG.po
  holidays/registry.py
  tests/countries/test_togo.py
Labels: l10n, test

#2554 Update North Macedonia holidays, add l10n support
  README.md
  holidays/constants.py
  holidays/countries/north_macedonia.py
  holidays/locale/en_US/LC_MESSAGES/MK.po
  holidays/locale/mk/LC_MESSAGES/MK.po
  holidays/locale/uk/LC_MESSAGES/MK.po
  snapshots/countries/MK_COMMON.json
  tests/countries/test_north_macedonia.py
Labels: l10n, snapshot, test

#2546 Add SPONSORSHIP.md
  SPONSORSHIP.md
Labels: l10n, snapshot, test

#2521 Add Equatorial Guinea holidays
  CONTRIBUTORS
  README.md
  holidays/countries/__init__.py
  holidays/countries/equatorial_guinea.py
  holidays/locale/en_US/LC_MESSAGES/GQ.po
  holidays/locale/es/LC_MESSAGES/GQ.po
  holidays/registry.py
  tests/countries/test_equatorial_guinea.py
Labels: l10n, test

#2562 Add Benin holidays
  README.md
  holidays/countries/__init__.py
  holidays/countries/benin.py
  holidays/locale/en_US/LC_MESSAGES/BJ.po
  holidays/locale/fr_BJ/LC_MESSAGES/BJ.po
  holidays/registry.py
  tests/countries/test_benin.py
Labels: l10n, test
