Repository vacanza/holidays, pull requests merged in 2025-02, with the labels that each got.

#2228 Add Sri Lanka holidays
  README.rst
  holidays/calendars/__init__.py
  holidays/calendars/sinhala.py
  holidays/countries/__init__.py
  holidays/countries/sri_lanka.py
  holidays/groups/__init__.py
  holidays/groups/sinhala.py
  holidays/locale/en_US/LC_MESSAGES/LK.po
  holidays/locale/si_LK/LC_MESSAGES/LK.po
  holidays/locale/ta_LK/LC_MESSAGES/LK.po
  holidays/registry.py
  snapshots/countries/LK_COMMON.json
  tests/countries/test_sri_lanka.py
Labels: l10n, snapshot, test

#2262 Add Israel holidays localization: th
  README.rst
  holidays/countries/israel.py
  holidays/locale/th/LC_MESSAGES/IL.po
  tests/countries/test_israel.py
Labels: l10n, test

#2265 Update some holidays Ukrainian translations
  holidays/countries/ukraine.py
  holidays/locale/ar/LC_MESSAGES/UA.po
  holidays/locale/en_US/LC_MESSAGES/UA.po
  holidays/locale/pot/UA.pot
  holidays/locale/th/LC_MESSAGES/UA.po
  holidays/locale/uk/LC_MESSAGES/AO.po
  holidays/locale/uk/LC_MESSAGES/CL.po
  holidays/locale/uk/LC_MESSAGES/CU.po
  holidays/locale/uk/LC_MESSAGES/CZ.po
  holidays/locale/uk/LC_MESSAGES/EE.po
  holidays/locale/uk/LC_MESSAGES/MZ.po
  holidays/locale/uk/LC_MESSAGES/PL.po
  holidays/locale/uk/LC_MESSAGES/UA.po
  holidays/locale/uk/LC_MESSAGES/UZ.po
  tests/countries/test_angola.py
  tests/countries/test_chile.py
  tests/countries/test_cuba.py
  tests/countries/test_czechia.py
  tests/countries/test_estonia.py
  tests/countries/test_mozambique.py
  tests/countries/test_poland.py
  tests/countries/test_uzbekistan.py
Labels: l10n, test

#2273 Check .mo rather than .po files in TestListLocalizedEntities
  AUTHORS
  tests/test_utils.py
Labels: test

#2268 Update Hong Kong holidays: add l10n support
  README.rst
  holidays/countries/hongkong.py
  holidays/locale/en_HK/LC_MESSAGES/HK.po
  holidays/locale/en_US/LC_MESSAGES/HK.po
  holidays/locale/th/LC_MESSAGES/HK.po
  holidays/locale/zh_CN/LC_MESSAGES/HK.po
  holidays/locale/zh_HK/LC_MESSAGES/HK.po
  snapshots/countries/HK_COMMON.json
  tests/countries/test_hongkong.py
Labels: l10n, snapshot, test

#2266 Add Saint Lucia holidays
  README.rst
  holidays/countries/__init__.py
  holidays/countries/saint_lucia.py
  holidays/locale/en_LC/LC_MESSAGES/LC.po
  holidays/locale/en_US/LC_MESSAGES/LC.po
  holidays/registry.py
  snapshots/countries/LC_COMMON.json
  tests/countries/test_saint_lucia.py
Labels: l10n, snapshot, test

#2275 Update Panama holidays, add l10n support
  README.rst
  holidays/countries/panama.py
  holidays/locale/en_US/LC_MESSAGES/PA.po
  holidays/locale/es/LC_MESSAGES/PA.po
  holidays/locale/uk/LC_MESSAGES/PA.po
  snapshots/countries/PA_COMMON.json
  tests/countries/test_panama.py
Labels: l10n, snapshot, test

#2284 Update internal scripts
  make.cmd
  scripts/generate_snapshots.py
  scripts/l10n/generate_po_files.py
Labels: script

#2258 Update United Kingdom & Isle of Man holidays: add l10n support
  README.rst
  holidays/countries/isle_of_man.py
  holidays/countries/united_kingdom.py
  holidays/holiday_base.py
  holidays/locale/en_GB/LC_MESSAGES/GB.po
  holidays/locale/en_GB/LC_MESSAGES/IM.po
  holidays/locale/en_US/LC_MESSAGES/GB.po
  holidays/locale/en_US/LC_MESSAGES/IM.po
  holidays/locale/th/LC_MESSAGES/GB.po
  holidays/locale/th/LC_MESSAGES/IM.po
  tests/countries/test_isle_of_man.py
  tests/countries/test_united_kingdom.py
Labels: l10n, test

#2211 Implement HolidayBase::get_closest_holiday functionality
  docs/source/examples.rst
  holidays/holiday_base.py
  tests/test_holiday_base.py
Labels: doc, test

#2293 Update Hong Kong holidays: fix `th` l10n typo
  holidays/locale/th/LC_MESSAGES/HK.po
Labels: l10n

#2294 Add Python syntax check with ruff-pyupgrade rules
  holidays/holiday_base.py
  pyproject.toml
  tests/test_holiday_base.py
  tests/test_registry.py
Labels: test

#2295 Add Tuvalu holidays
  README.rst
  holidays/countries/__init__.py
  holidays/countries/tuvalu.py
  holidays/locale/en_GB/LC_MESSAGES/TV.po
  holidays/locale/en_US/LC_MESSAGES/TV.po
  holidays/locale/tvl/LC_MESSAGES/TV.po
  holidays/registry.py
  snapshots/countries/TV_COMMON.json
  snapshots/countries/TV_FUN.json
  snapshots/countries/TV_NIT.json
  snapshots/countries/TV_NKF.json
  snapshots/countries/TV_NKL.json
  snapshots/countries/TV_NMA.json
  snapshots/countries/TV_NMG.json
  snapshots/countries/TV_NUI.json
  snapshots/countries/TV_VAI.json
  tests/countries/test_tuvalu.py
Labels: l10n, snapshot, test

#2299 Update subdivision names for Presidents' Day in the United States
  holidays/countries/united_states.py
  snapshots/countries/US_AK.json
  snapshots/countries/US_AZ.json
  snapshots/countries/US_CA.json
  snapshots/countries/US_CO.json
  snapshots/countries/US_HI.json
  snapshots/countries/US_ID.json
  snapshots/countries/US_MD.json
  snapshots/countries/US_MN.json
  snapshots/countries/US_MT.json
  snapshots/countries/US_NJ.json
  snapshots/countries/US_OH.json
  snapshots/countries/US_OK.json
  snapshots/countries/US_OR.json
  snapshots/countries/US_PA.json
  snapshots/countries/US_SC.json
  snapshots/countries/US_TN.json
  snapshots/countries/US_TX.json
  snapshots/countries/US_UT.json
  snapshots/countries/US_VA.json
  snapshots/countries/US_VT.json
  snapshots/countries/US_WA.json
  snapshots/countries/US_WV.json
  snapshots/countries/US_WY.json
  tests/countries/test_united_states.py
Labels: snapshot, test

#2302 Update AZ holidays: add 2025 substituted holidays
  holidays/countries/azerbaijan.py
  snapshots/countries/AZ_COMMON.json
  tests/countries/test_azerbaijan.py
Labels: snapshot, test

#2318 Update l10n scripts
  scripts/l10n/generate_mo_files.py
  scripts/l10n/generate_po_files.py
Labels: script

#2316 Update Kenya holidays, add l10n support
  README.rst
  holidays/countries/kenya.py
  holidays/locale/en_KE/LC_MESSAGES/KE.po
  holidays/locale/en_US/LC_MESSAGES/KE.po
  holidays/locale/sw/LC_MESSAGES/KE.po
  snapshots/countries/KE_COMMON.json
  tests/countries/test_kenya.py
Labels: l10n, snapshot, test
